[2013-02-03 15:11] rumpelsepp opened #1 "wong string in 65-override.conf?"
Is this line correct?

https://github.com/bohoomil/fontconf/blob/master/etc-fonts/infinality/styles.conf.avail/infinality/65-override.conf#L24

[2013-02-03 15:58] #1 closed, assigned to nobody

[2013-03-10 16:48] mindfulmonk opened #2 "Times New Roman in Chrome bookmarks bar"
The folder should be called Vim, but instead it shows as three dots ...
![font_problem](https://f.cloud.github.com/assets/602167/241296/2747fec8-89a2-11e2-8386-8b76d62dde6f.png)

Happens only with Times New Roman

[2013-03-10 19:58] #2 closed, assigned to nobody

[2013-04-01 02:19] pablox-cl opened #3 "Improve documentation (for local changes)"
In the readme you pointed that if you want to change the default aliases (for ie) you should modify the `20-aliases-default.conf` from the `/etc/fonts.....blablablaa.....`. Well, it turns to be a bad practice :).

The correct (or cleaner) way, would be to copy the file to `~/$XDG_CONFIG_HOME/fontconfig/fonts.conf` or (better imho) in `~/$XDG_CONFIG_HOME/fontconfig/conf.d` directory. (That would be

[2013-04-01 13:00] wlhlm opened #4 "Bad FreeSans rendering"
The rendering of FreeSans seems to be a bit quirky. For example here on GitHub (see the grey bar on top):
![freesans1](https://f.cloud.github.com/assets/1928113/323779/9ff9972a-9acb-11e2-8226-63fc7fdec80a.png)

On infinality's font test site you can also see some kerning issues:
![freesans2](https://f.cloud.github.com/assets/1928113/323781/c0741d9a-9acb-11e2-8d5d-7e60e7913c64.png)

[2013-04-01 16:11] #4 closed, assigned to nobody

[2013-05-04 08:07] allen-t opened #5 "Fonts are bolder when running programs as root."
I've installed the infinality bundle along with the ms corefonts. It seems that rendering is better when running programs as root. I'll use thunar as an example. See the pictures. Is this normal? Have I missed some sort of configuration?
![screenshot - 05042013 - 01 06 23 am](https://f.cloud.github.com/assets/1644189/462257/afebf2d8-b491-11e2-8b85-4bed46935e77.png)
![screenshot - 05042013 - 01 06

[2013-05-04 12:11] #5 closed, assigned to nobody

[2013-06-26 15:45] rbellamy opened #6 "infinality-bundle user notes - link broken"
The link to infinality-bundle user notes is broken in the readme.rst.

[2013-06-27 09:07] #6 closed, assigned to nobody

[2013-09-01 16:58] NickHu opened #7 "No way of using Helvetica"
I have the LinoType Helvetica font, which is matched to "Helvetica LT". However, line 246 of 37-repl-global.conf causes my local config aliasing "Helvetica" -> "Helvetica LT" to be ignored. Changing "strong" to "weak" solves this problem, are there any issues with this approach?

[2013-11-21 10:42] ivan-tkatchev opened #8 "Terminus font support broken"
The default fontconfig-infinality-ultimate ships with `38-repl-tt-traced-bitmap.conf` which has the following comment and config snippet:

[code]

Even though it says that "this replacement has been verified to be safe", it really _isn't_.

Unless `38-repl-tt-traced-bitmap.conf` is removed from the config the bitmap Terminus fonts don't display properly in GTK apps. (Like VTE terminal emulators, f

[2013-11-21 20:23] #7 closed, assigned to nobody

[2013-11-23 21:11] #8 closed, assigned to bohoomil

[2013-11-27 23:03] todi opened #9 "spelling mistake in fantasy alias"
Hi,

It seems to me that the alias for "fantasy" in "60-latin-free.conf" should be "Signika. Currently it is "Signifika", which is not recognised by fc-match.

[2013-11-28 00:36] #9 closed, assigned to bohoomil

[2013-12-11 20:06] aufau opened #10 "Tags"
Hi,
I'm trying to add fontconfig-ultimate to Gentoo's portage. Could you consider adding tags to this repo every time you make a release? And initial one now?

[2013-12-11 21:39] #10 closed, assigned to bohoomil

[2013-12-16 16:24] wlhlm opened #11 "Bad kerning with OpenSans font"
Browsing a lot through Github and reading a lot of Readmes, etc. I notice quite some issues with the OpenSans kerning especially with narrow letters like 'i' or 'l' (ell).

Here is a screenshot of the license part of the Readme of `fontconfig-ultimate`. I marked some errors with red dots.

![screenshot](https://f.cloud.github.com/assets/1928113/1755981/52586f50-666d-11e3-8766-a9402fd1baff.png)

**

[2013-12-17 15:22] #11 closed, assigned to nobody

[2014-03-30 11:33] woodgiraffe opened #12 "How to uninstall in arch using the custom repository?"
How do I uninstall and migrate back to the standard freetype2 in arch?

[2014-04-04 01:49] #12 closed, assigned to nobody

[2014-04-09 09:20] Logout22 opened #13 "fc-cache flush fails"
Hello, I am using Arch Linux x86_64. After the last update of the infinality bundle, I wanted to flush the font cache, and it threw an error I cannot really explain:

[code]

Can you help me with this? Do I have to address someone else?

Thanks!

[2014-04-10 12:29] #13 closed, assigned to nobody

[2014-04-10 17:33] SammysHP opened #14 "Fonts substituted although existing"
I have both free and non-free fonts installed (e.g. _Liberation Sans_ and _Arial_, _URW Palladio L_ and _Palatino Linotype_). My problem is that I won't get the font that I request:

[code]

[code]

This was the result I get with the "combi" preset, but it's the same (in other direction) with "free" and "ms".

IMHO it should work like this:
- Check if requested font is available (and allowed). If

[2014-04-10 17:46] SammysHP opened #15 "T1 rendered wrongly (or T1-DejaVu broken)"
top: t1-dejavu-ib
bottom: ttf-dejavu-ibx

![Imgur](http://i.imgur.com/pSrcYTy.png)

I got the same in Firefox. The TTF version is the expected result.

[2014-04-10 19:02] #15 closed, assigned to bohoomil

[2014-04-10 20:17] #14 closed, assigned to bohoomil

[2014-04-11 12:49] twwn opened #16 "Chrome UI fonts invisible"
This is what I get with fontconfig-infinality-ultimate-git:

![Chromium](http://i.imgur.com/U7rgoCS.png)

Started a couple of days ago after updating the AUR package. Some website forms are also affected, but otherwise the rendering is not (the tab in the image is about:blank). Haven't yet seen the bug with other programs.

[2014-04-12 10:16] #16 closed, assigned to nobody

[2014-04-12 14:38] julroy67 opened #17 "Chrome Japanese rendering"
Latest update again made something wrong in Japanese rendering, hope you can do something.
![capture d cran de 2014-04-12 16 36 57](https://cloud.githubusercontent.com/assets/198724/2687391/23a56b92-c250-11e3-9d67-e97d8af82294.png)

[2014-04-14 09:03] #17 closed, assigned to nobody

[2014-04-17 05:56] rejuvyesh opened #18 "Why replace Roboto with Roboto Black?"
Google plus looks extremely weird with dark bold font. Anyway I deleted that from `37-repl-*` since I was not sure how to override this effect. Thanks!

[2014-04-18 15:35] ghost opened #19 "Font cache is unecessarily refreshed repeatedly"
You might be aware of this already but I don't see a bug report so here it goes.

When installing many fonts the font cache is refreshed multiple times, and assuming the 'fc-cache *' that runs uses the same switches across all your PKGBUILDs, then it's not needed. This is more of an enhancement suggestion than anything as it's to be expected with how everything is set up currently, but I was wonde

[2014-04-19 00:01] Gigadoc2 opened #20 "Slow drawing on nvidia graphics"
I noticed, that since some time after installing your packages, certain apps took long time to draw/redraw their content. This problem only affects gtk applications, in my case i noticed slowdowns with virt-manager, Shotwell, Thunderbird and sometimes Firefox.

For Shotwell, reinstalling stock cairo fixed the problems, so that's why i suspect the infinality-bundle to cause the problems.

Also, Fir

[2014-04-23 14:54] ptrxyz opened #21 "Arch DB Repo"
Your Arch Linux repository (http://bohoomil.com/$arch) seems to be unreachable.
Same for the main website (http://bohoomil.com/)

[2014-05-02 17:27] BlairSadewitz opened #22 "How in this !@$ world can I have my KDE session inherit the environment variables from infinality-settings.sh?"
You're probably gotten this question a lot.  I can't figure it out.  It's driving me crazy.  I simply have no more time to devote to this presently.

I've googled around for a solution, and I think I'd need to have a PhD. in library science or perhaps geneaology to merely categorize the threads.

Madness.

Thanks for your singular effort of building on infinality--this is the finest font rendering

[2014-05-02 23:57] TaylanTatli opened #23 "Multilib repo"
There is problem in multilib repo. You need to rename infinality-bundle.db to infinality-bundle-multilib.db
Thank you. :)

[2014-05-03 21:51] #23 closed, assigned to nobody

[2014-05-03 21:52] #3 closed, assigned to nobody

[2014-05-07 01:04] #18 closed, assigned to nobody

[2014-05-07 01:05] #19 closed, assigned to nobody

[2014-05-07 01:05] #21 closed, assigned to nobody

[2014-05-07 10:14] iamsebastian opened #24 "error with dev key pgp signature"
Hello bohoomil,

I get a error from your pgp-signature, while using the [aui](https://github.com/helmuthdu/aui) install script.

![Terminal output](https://cloud.githubusercontent.com/assets/1620425/2901103/4606caa8-d5d0-11e3-9acf-319c7dcb0e0f.png)

[2014-05-08 18:17] #24 closed, assigned to nobody

[2014-06-02 07:38] mattia-b89 opened #25 "bad font rendering on http://oneplus.net/smash"
hi, I'm an archlinux user with your packages installed and MS fonts
- cairo-infinality-ultimate
- fontconfig-infinality-ultimate
- freetype2-infinality-ultimate
- ttf-ms-win8

I have an issue visiting this site (http://oneplus.net/smash); I attach a screenshot;
as you can see the left portion of text is un-read-able;

I don't know if it's a your packages' related problem because this site is very

[2014-06-02 21:43] #25 closed, assigned to bohoomil

[2014-06-08 12:29] zuyih opened #26 "would you like to provide a rsync server for bohoomil.com"
I want to clone the mirrors,but wget is  inconvenient.

[2014-06-09 07:43] #26 closed, assigned to nobody

[2014-06-30 21:08] spixi opened #27 "More aliases"
It would be nice, if you could create more aliases:

Core fonts:
Andale Mono -> DejaVu Sans Mono

Postscript fonts:
ITC Zapf Dingbats -> Dingbats (URW)
Albertus -> A028 (URW) / Linux Libertine
AntiqueOlive -> Lato
Frutiger -> Lato

Others:
Haettenschweiler -> Oswald (strong)
Futura -> TeX Gyre Adventor

[2014-07-24 16:06] ehen opened #28 "Guide on how to install this from scratch"
Would you be kind enough to provide this?
I have no idea how to install this and there isn't a package for it on Alpine Linux.

[2014-08-04 05:57] pablox-cl opened #31 "Why the inconsolatazi4 conflicts with inconsolata-g"
I just realized that the inconsolata version of ib, conflicts with inconsolata-g. I don't understand why, because they are "different" fonts. Adding the last to my `.fonts` folder lets me change between them and until now, it doesn't seem there to be any clash. What's the idea behind this decision?

[2014-08-04 12:32] #20 closed, assigned to nobody

[2014-08-08 13:39] ptrxyz opened #32 "Repository not accessible"
Seems bohoomil.com and thus the repository are not accessible (curl timeouts). Just thought I should mention that in case you are not already aware of it.

[2014-08-08 20:16] #32 closed, assigned to nobody

[2014-08-11 18:25] #31 closed, assigned to bohoomil

[2014-08-17 15:39] #27 closed, assigned to nobody

[2014-08-18 00:46] ghost opened #33 "02_fontconfig-iu: build fails"
Using the latest git revision to build fontconfig using makepkg fails during the patching phase. The partial build log is below:

[code]

[2014-08-18 01:06] #33 closed, assigned to nobody

[2014-08-19 06:40] adrientetar opened #34 "TeX Gyre Heros looks wonky"
I updated to the latest build of this ppa: https://launchpad.net/~rjvbertin/+archive/ubuntu/infinaltimate

TeX Gyre Heros which I use as my default Helvetica-like font looks wonky (e.g. here on GitHub), like letters are independently going over and under the baseline. It wasn't the case before &ndash; could you look into it?

Running under Xubuntu 14.04 x64, Firefox 31. Thanks for your work.

[2014-08-19 15:06] Bersam opened #35 "Add jre7-openjdk-headless-infinality to the repo"
Hi,
I'm asking if you could, maintain this package and add this to your repository, cause rebuilding openjdk cost too much cpu usage and also need more than ~4.5 GB build space.
https://aur.archlinux.org/packages/jre7-openjdk-headless-infinality/
And here is a topic about this package and problem with official openjdk package:
https://bbs.archlinux.org/viewtopic.php?pid=1448519

[2014-08-22 13:26] greatquux opened #37 "Very strange font rendering in Google Chrome"
I'm using Google Chrome stable 36.0.1985.143 and the latest fontconfig packages via the nice Ubuntu PPA at https://launchpad.net/~rjvbertin/+archive/ubuntu/infinaltimate (wanted to be upfront about this!). Getting some really strange rendering in Chrome lately, I think corresponding to the latest update of the PPA, which tracked the 2014/08/15 update.  For example:

![image](https://cloud.githubus

[2014-08-26 16:07] #37 closed, assigned to nobody

[2014-08-26 23:53] bohoomil opened #40 "ms preset: remove redundant Nirmala UI entries from 60-non-latin-ms.conf"
See [this thread](https://bbs.archlinux.org/viewtopic.php?pid=1450893#p1450893) for more info.

[2014-08-26 23:54] #40 closed, assigned to bohoomil

[2014-09-10 04:19] protist opened #42 "Recent update reduces hinting"
I'm using Infinality installed via your Arch repository. There was an update pushed today for several of the fonts. On my system, this appears to make fonts looks a fair bit worse IMO. For example, ttf-dejavu-ib (2.34-9 -> 2.34-10) [before](https://i.imgur.com/X41TuF1.png) and [after](https://i.imgur.com/SQa0mOr.png).

I see a fairly similar change in all fonts, with the vertical height increasing

[2014-09-14 11:13] estar opened #43 "[freetype2-iu-dev] setenv() crashes rxvt-unicode (and maybe other things)"
In `03-aflatin.c.patch` and `05-ftobjs.c.patch`, `setenv()` is used to set `CUR_WIDTH`. This code ends up in the Freetype library and should not be using `setenv()`, because applications linked with `libfreetype.so` may alter the environment using their own functions, in ways incompatible with `setenv()`. Cf. the [POSIX specification](http://pubs.opengroup.org/onlinepubs/009695399/functions/setenv

[2014-09-17 05:59] #43 closed, assigned to nobody

[2014-09-18 02:54] dogabone opened #46 "Strange font rendering in Texmaker"
I'm a long time Texmaker user, but had to change to TeXstudio because of what I thought was a bug in my system. After some investigation, I found the culprit to be the infinality install.

This is what it looks like with the default settings (style=2 in /etc/profile.d/infinality-settings.sh):
![vm-test1](https://cloud.githubusercontent.com/assets/6036232/4314384/557b6418-3ede-11e4-89f2-8c48d4d6341

[2014-09-18 13:59] RJVB opened #47 "set parameters through config file(s)?"
I just noticed that the synaptic graphical package manager I use from time to time had very off-looking fonts. I traced that down to a very simple reason: it's launched in a script through pkexec, and that tool drops the environment. It does not parse source ~root/.profile, so fontconfig-ultimate finds itself run without any parameters set.
I don't know how it handles that situation, but clearly n

[2014-10-05 00:41] cocodrino opened #49 "stained and skinny font (I screw up my infinality-settings)"
Hi bohoomil, first thanks because your patch for intellij idea and the openjdk makes possible fix the ugly render font in this ide (partially)...

I comming from OSX and I'm using elementary OS, I did notice than the fonts looks a bit skinny so I did a small changes inside my infinality-settings yesterday, the result was worse, now the fonts keep looking skinny but also stained and ugly...I try re

[2014-10-28 13:05] SammysHP opened #50 "Umlaut dots missing in urxvt"
I just noticed that the dots above the umlauts Ö and Ü are missing in urxvt with DejaVu Sans Mono.

fontconfig-infinality-ultimate 2.11.1-21
freetype2-infinality-ultimate 2.5.3-13
ttf-dejavu-ib 2.34-10

`urxvt.font: xft:DejaVu Sans Mono:pixelsize=12`:
![Imgur](http://i.imgur.com/OgpsRrf.png)

`urxvt.font: xft:DejaVu Sans Mono:pixelsize=13`:
![Imgur](http://i.imgur.com/ctEsbQy.png)

As you can see

[2014-10-29 17:06] #50 closed, assigned to bohoomil

[2014-11-04 13:14] alexoj opened #51 "User settings not overriding /etc/fonts/conf.d"
Shouldn't /etc/fonts/conf.avail.infinality/28-user.conf be /etc/fonts/conf.avail/infinality/98-user.conf and /etc/fonts/conf.avail.infinality/29-local.conf be /etc/fonts/conf.avail.infinality/99-local.conf ?

Right now I can't override system settings (for example overriding no-embedded-bitmaps for one font) from my home directory.

I tried working around it renaming the file locally to 98-user, 9

[2014-11-05 01:48] flamusdiu opened #52 "Missing Fonts in pdf"
Using xpdf to open pdfs (also Noticed bad rendering in Chrome-Beta as well). I am getting the following errors:

[code]

[Resolved] Switched from `xpdf` to `zathura` or `mupdf` fixes the issue.

[2014-11-07 21:56] aphirst opened #53 "Rendering errors with libass, missing characters/shading ("Glyph bounding box too large")"
Opening this on request of @bohoomil in the [Arch BBS](https://bbs.archlinux.org/viewtopic.php?pid=1473554#p1473554). (Of course, that means that I am using Arch.)

Since a relatively recent revision of infinality (I am not sure exactly which personally, but others in Freenode #libass believe since the `2.5.3-10` revision of `freetype2-infinality`), a very small subset of ASS subtitles experience

[2014-11-08 14:16] #52 closed, assigned to nobody

[2014-11-10 20:52] skarekrow opened #54 "Any update on using the OBS?"
Hello,

I really enjoy your patches on my Arch system, but if I'm using my OpenSUSE Tumbleweed one, the fonts are horrific. Since I remember reading that you planned on using the OBS a while back, have those plans continued? Since both platforms are rolling, I figured dependency resolution would be less complicated, but I was hoping to get your opinion on it. It may sound petty, but fonts are reas

[2014-11-25 10:09] rumpelsepp opened #56 "Strange Liberation Sans issues since the last update"
Since the last update Liberation Sans does not look beautiful any more (look at the `e` letter):

![bildschirmfoto34](https://cloud.githubusercontent.com/assets/1961699/5181086/3f503b4c-7493-11e4-99d4-85207a56ee9e.png)

[2014-11-25 19:06] #56 closed, assigned to bohoomil

[2014-11-27 14:19] Firef0x opened #57 "Feature Request: Add more fonts to [infinality-bundle-fonts]"
Hello, @bohoomil ! :smiley:

Appreciate your great work! Would you mind adding the following fonts to `[infinality-bundle-fonts]` ? It would be very nice!
- **otf-inconsolata-powerline-ibx** from [otf-inconsolata-powerline-git](https://aur.archlinux.org/packages/otf-inconsolata-powerline-git/)
- **otf-source-code-pro-powerline-ibx** from [otf-source-code-pro-powerline-git](https://aur.archlinux.or

[2014-11-29 11:15] totakura opened #58 "Firefox 33.1 crashes with fontconfig-infinality-ultimate-2.11.1-23 on Arch"
The latest fontconfig-infinality-ultimate-2.11.1-23 from your repository for Arch seems to be causing crashes in Firefox.   This is on a x86_64 system.  The crashes won't happen when downgraded to fontconfig-infinality-ultimate-2.11.1-22.

Here is an excerpt from the coredump:
[code]
Don't have further info as debug symbols are not available..

[2014-12-02 01:03] ntrrgc opened #59 "Ugly Open Sans Bold"
Yesterday I installed fontconfig-ultimate following the instructions in the Arch Linux wiki. So far, the system looks mostly good, except for a few quirks.

This is Open Sans Bold 10, from the infinality-bundle-fonts repository:

![](http://i.imgur.com/b5wMaa6.png)

Noticeably, the _e_ has been bitten off at the top, maybe being too bold at the bottom. Also, the capital _T_ is smaller than the low

[2014-12-02 03:34] #59 closed, assigned to bohoomil

[2014-12-02 21:44] #51 closed, assigned to bohoomil

[2014-12-03 15:48] #57 closed, assigned to bohoomil

[2014-12-09 02:20] hadrons123 opened #60 "Not able to change to Bitstream vera sans font styles in Arch mate desktop"
I use your binary repos for packages fontconfig-infinality-ultimate and freetype2-infinality-ultimate for my arch linux installation. I have the font style setup to default.
Whenever I try to change my application fonts to 'Bitstream vera sans' it defaults to dejavu sans after I select Bitstream vera on the 'appearence preferences' menu. I can move to different font styles like cantarell or droid

[2014-12-09 19:14] cpence opened #61 "LibreOffice font replacements"
LO doesn't seem to follow the proper fontconfig replacement strategy -- everything that I don't have installed (e.g., Calibri) just shows up as Sans. Is there a way to configure LO to take the replacements that the font bundle defines? Possibly using LO's native font replacement table (Options -> Fonts -> Replacement Table)?

[2014-12-09 19:22] #61 closed, assigned to bohoomil

[2014-12-10 13:44] hadrons123 opened #62 "Not able to add infinality-bundle keyring"
This is what I get after updating gnupg and generating new keyring.
[code] infinality-bundle                                                                                                      9.8 KiB  1631K/s 00:00 [#######################################################################################] 100%
 infinality-bundle.sig

[2014-12-10 14:12] #62 closed, assigned to bohoomil

[2014-12-29 21:29] ferdnyc opened #63 "rgba in base rendering settings corrupts GIMP text rendering?"
I noticed that `conf.d.infinality/10-base-rendering.conf` (as of b2aa9ecc29f03b0cc2c5a1fc55831daa24a11504) contains the following global font configuration:

[code]

The same setting, which used to be in `50-base-rendering-inf-osx-lin.conf` in infinality's packages, is the cause of a longstanding issue ([acknowledged/confirmed by infinality](http://www.infinality.net/forum/viewtopic.php?f=2&t=229&

[2015-01-05 18:14] Firef0x opened #64 "Proposal: Standardize the using of `fc-cache` in install scripts"
Hello, @bohoomil ! :smiley:

Appreciate your great work! I think we should standardize the using of `fc-cache` in all install scripts. It should be `fc-cache -s` . Currently I see:

[code]

The reason to use `fc-cache -s` and some examples are as follow:

* [[arch-dev-public]fc-cache in install scriptlets](https://lists.archlinux.org/pipermail/arch-dev-public/2015-January/026889.html) and [reply](

[2015-01-05 23:28] bohoomil commented on #64
Hello @Firef0x,

Take a look at #19, especially why `-sf` option is used in `post_remove` array.

Have a great new year, too! ;-)

[2015-01-06 00:41] xfrank opened #65 "persistent issue with "s" diagonals in san-serif fonts and infinality dilemma"
Hi Bohoomil! Thanks for your work, it does improve noticeabily fonts. I have two issues: one, persistent, is the central diagonal "s" (and in some fonts, also "a"): is rendered too tiny, and give an odd look to the font. This happens only in some sans-serif fonts at certain sizes (12 to 17 points at 100% zoom). Helvetica, Open Sans, Noto Sans and Source Sans Pro are the most affected. I tried diff

[2015-01-06 01:52] bohoomil commented on #65
Could you try and re-upload the screenshot, please? I'd like to confront the problem visually.

[2015-01-06 15:22] xfrank commented on #65
I re-uploaded the screenshot. As you can see, the "s" and "a" diagonals are too tiny. This happens only in a range from 12 to 17 ptx. All the sans-serif fonts are affected, but not the serifs. All the system is affected: the browser (Firefox) and the programs (LibreOffice), not the desktop because I have not fonts in this size range.
At the moment I have the infinality ultimate patch installed, wi

[2015-01-06 20:58] harsh1kumar opened #66 "Not able to add key pacman-key -r"
I am not able to add the key for the repository on Arch. I get the following error:
[code]

I am behind a proxy server, so I think I won't be able to download this key as the port might be blocked.
So, I would have to use the following command to add the key:
[code]
For this I would require the keyfile. I tried search a lot, but was not able to find the keyfile.

Can someone please tell where I ca

[2015-01-07 02:53] bohoomil commented on #64
@jristz Would you mind helping out with repackaging then? ;-) The only significant difference between our packages and the official is the `post_remove` snippet: installation and upgrade actually work in the same way, the difference is that we force creation of cache files only for the newly added/upgraded fonts. But OK, I will think about this one day.

FreeFonts is a no-go, though. It's old and

[2015-01-07 03:01] bohoomil commented on #66
Hello @harsh1kumar I constantly have to write the same thing: GitHub issues *is not* for package related issues. Please, use the [dedicated support thread](https://bbs.archlinux.org/viewtopic.php?id=162098) on Arch Linux Forums where the key-related issues have been discussed dozens of times recently.

By the way, don't you think that this bit

[code]

quite plainly states that the problem is not

[2015-01-07 03:01] #66 closed

[2015-01-07 03:08] jristz commented on #64
So what is better -sf por -s I can file bugs for allí on the todo in Arch
or clone and fix The postinstall here to -fs or -s. What to do?

[2015-01-07 03:33] bohoomil commented on #64
The `-s` option should basically suffice: even if you remove the font manually from your collection without `pacman`, the cache file corresponding with it will be automatically removed. Sometimes however, things may go wrong and running `fc-cache -f(s)` is a good method to prevent the cache from getting cluttered with dead/invalid files. We decided to use the `-f` option after removing a package m

[2015-01-07 03:44] jristz commented on #64
Well then I ask: Where are the post_install files to give a look?

[2015-01-07 03:48] bohoomil commented on #64
Check out the [pkgbuild](https://github.com/bohoomil/fontconfig-ultimate/tree/pkgbuild) branch: there's one `*.install` file in every font package.

[2015-01-07 04:00] bohoomil commented on #65
Ad 1)

Thank you.

You didn't install Infinality packages correctly. Just for the reference, take a look at the shots:

![noto_sans](https://cloud.githubusercontent.com/assets/421230/5640703/772c447c-9629-11e4-9f78-a20037f453d7.png)

![open_sans](https://cloud.githubusercontent.com/assets/421230/5640707/80fa48d2-9629-11e4-994e-ce97d5aa11ba.png)

![liberation_sans](https://cloud.githubusercontent.c

[2015-01-07 04:37] jristz commented on #64
Ok I leave the pkgrel intact or you want update all the packages too?

[2015-01-07 21:21] xfrank commented on #65
OK. Problem SOLVED!  Thanks Bohoomil! Now my fonts are near perfect. The most beautiful fonts I've ever seen in a laptop screen!
The problem arised when, in an attempt to circumvent the MDM freezing at startup, I have swapped the /etc/profile.d/infinality-settings.sh with the old one (from the previous installation of the "old" infinality bundle). But there is a cure for MDM: see https://github.co

[2015-01-08 00:50] bohoomil commented on #65
I'm glad to read that: thank you for the feedback.

One more quick maintenance tip. There are two useful commands you can use to ensure that your `infinality-settings.sh` has been loaded correctly:

1. `grep Xft <(xrdb -q)` will provide you with the following output:

[code]

2. `grep INFINALITY <(env)` will output the following:

[code]

As you can see, this is the exact content of the ultimate `

[2015-01-08 16:05] orschiro opened #68 "Font kerning with PDF created with Microsoft Office 2013"
Hi @bohoomil ,

I encounter a font kerning issue with a PDF that has been created using Microsoft Office 2013. I use `Evince` to display the PDF which looks as follows:

![screenshot](https://cloud.githubusercontent.com/assets/170947/5665374/41fc2d8c-9758-11e4-94e1-27de3b243d2d.png)

Information about the PDF ([download](https://transfer.sh/uOMLl/transition-training-day-2015-programme.pdf)):

[cod

[2015-01-08 20:12] bohoomil commented on #68
Yes, but this has nothing to do with Infinality, `freetype2` and the like: there are neither embedded fonts in the document, nor any other fonts (in ttf/otf/t1/… format) that `pdffonts` could identify (you could use `Evince -> Properties… -> Fonts` to check this out). It can't be even converted to an editable text document (in any format, be it `doc`, `rtf`, `txt`). The content must have been writ

[2015-01-10 08:26] orschiro commented on #68
Thanks for mentioning! I didn't think about that possibility.

Tested Zathura and will use it for now whenever Evince fails to show a PDF properly.

Apologise for bothering with a non-related issue...

Robert

[2015-01-14 15:18] elpres opened #69 "Floating point numbers in AFM files have commas as decimal separators"
I'm using DejaVu fonts from the `infinality-bundle-fonts` repo on Arch, and they cause Matplotlib (a Python plotting library) to show this error for each file:

    Value error parsing header in AFM: UnderlinePosition -41,5039
    Value error parsing header in AFM: UnderlineThickness 43,9453

This problem has been reported to the Matplotlib issue tracker (https://github.com/matplotlib/matplotlib/p

[2015-01-14 20:29] bohoomil commented on #69
If this is a problem with fonts, you should report it to the upstream: [www.ctan.org](http://www.ctan.org/tex-archive/fonts/dejavu).

[2015-01-15 08:18] elpres commented on #69
True, the files in CTAN have the same "feature". Thanks for the pointer, I'll contact the maintainer there.

[2015-01-15 08:18] #69 closed

[2015-01-16 14:05] Firef0x commented on #64
Hello, @bohoomil ! :smiley:

It took me a long time to finish reading and understanding Issue #19 #64 and #67 . And I convince you are a **font expert**! I think you have clarified the pros and cons of argument `-f`, clearer than what Allan McRae said in the mailing list. Hope that the TUs could take a look here and join you in making the [Font package guideline](https://wiki.archlinux.org/index.p

[2015-01-17 19:55] sb56637 commented on #54
Hi, many thanks to everyone who is helping to make Infinality Ultimate available to openSUSE. I am also a Tumbleweed user, and I agree that the default font rendering is nothing short of horrific.

I'm having trouble with both of the Infinality Ultimate repos for openSUSE. When I install the packages from @beniked 's repo...
http://download.opensuse.org/repositories/home:/nick31:/INFINALITY-ULTIMA

[2015-01-19 21:16] jacek99 opened #70 "Support Fedora repo again"
Hi,is there any possibility we could get it prebuild for Fedora, like it used to be with infinality.net

Would be much appreciated thank you

[2015-01-20 01:25] bohoomil commented on #70
Thanks for the feedback.

I'd love to see binary packages for Fedora and Debian/Ubuntu. The problem is I'm neither a regular Fedora nor Debian user: I run both distros in virtual machines, but my packages certainly far from being correct in terms of either of the distros' standards. (The `fontconfig` configuration in both has been actually maintained manually.) All in all, I'd wholeheartedly appre

[2015-01-20 01:34] bohoomil commented on #64
@Firef0x! Kill it with fire! ;-)

I think we're done with packaging standards for good (or at least for some time). Let's just stick with what we have: the only thing the users should remember is `fc-cache -f(s)` command they may want to run from time to time, especially when out of the sudden they experience issues with fonts not loading/displaying glyphs properly. Otherwise, we should be happy w

[2015-01-20 18:48] ahawthorne commented on #70
I have a working freetype infinaltiy ultimate package for Fedora 21 based off of your work, Bohoomil. The RPM spec is derrived from the freetype package from RPM Fusion which uses ld-config to allow the additional freetype package to be installed along side the Fedora package. This way we don't clobber system packages.

I haven't gone further than the freetype package at this point, but I do plan

[2015-01-21 00:38] beniked commented on #54
Hello, i finally got some time to update OBS packages (bohoomil patchset as of 01/20/2015, freetype-2.5.5).
Also, now patched cairo-1.14 is available for Tumbleweed.

[2015-01-21 02:00] sb56637 commented on #54
Thanks so much @beniked ! I can confirm that the new updates from your repo work and look great on both 13.2 and Tumbleweed. Really appreciate it!

[2015-01-21 04:28] bohoomil commented on #70
Thank you very much, @ahawthorne. I will certainly check the files as soon as possible.

It seems to be a good moment to discuss a few problems non-Archers may be interested in. If possible, I'd appreciate your checking out pull request #71 and share your opinions on the direction `fontconfig-ib` for other Linux distributions should take. Thank you in advance.

[2015-01-23 15:27] Firef0x commented on #64
Hello, @bohoomil !

OK, I'll close it! :negative_squared_cross_mark: I didn't notice that you have updated the install scripts of all font packages, and I am curious about the consideration you chose to follow the official Arch ones finally. As you said:

I'd like to learn the lesson from this issue.

Yours sincerely!

[2015-01-23 15:27] #64 closed

[2015-01-26 09:07] valmar commented on #54
Ok now that @beniked  supports 13.2 and Tumbleweed, there is really no reason to keep my repo up, so I will delete it...

[2015-01-26 15:57] sb56637 commented on #54
@valmar Thanks again for contributing to this work! Very much appreciated by those of us who want to use openSUSE without getting bloodshot eyes. :p

[2015-01-29 11:02] valmar commented on #54
@dyskette , when I am on Fedora I use your packages. They seem to me the best ones as they implement directly all the ultimate features and also contain the patched cairo.

Thanks, please keep them coming. Also, if you can, set up a repo!

[2015-02-02 22:00] orschiro opened #72 "Issue with a single font in Thunderbird message"
Dear @bohoomil,

I encounter a very specific issue with an email sent by a particular contact. I don't know from where to get more information about the particular font in use. The email message looks as follows:

![image](https://cloud.githubusercontent.com/assets/170947/6009951/005263e8-ab2f-11e4-8228-5b82f6039a39.png)

For me personally, the email font is very inconvenient to read due to its na

[2015-02-02 23:55] bohoomil commented on #72
Hello Robert,

Did you try changing the font in `Preferences -> Display -> Formatting -> Advanced -> Western => <your_fonts>`? You can do the same with other language scripts.

[2015-02-03 07:41] orschiro commented on #72
Yes, I did:

![image](https://cloud.githubusercontent.com/assets/170947/6016323/648f14e0-ab80-11e4-8921-adcd6080ab83.png)

I could force all messages to use that font (uncheck `Allow messages to use other fonts`) but then I am losing a lot of proper formatting of HTML mails.

[2015-02-03 08:19] bohoomil commented on #72
Nope, I didn't mean unchecking this option... Simply tell your pen-pal to change the font. ;-)

What I think we can try doing anyway: display the message as a source code and check which font it actually is. Then we can set a replacement rule for it.

[2015-02-03 09:04] orschiro commented on #72
Found it!

[code]

[2015-02-03 10:16] bohoomil commented on #72
Thanks. The default substitution for Arial Narrow in the free preset is this (`37-repl-global-free.conf`):

[code]

Now simply copy the snippet, paste it to `35-repl-custom.conf` and change Liberation Sans Narrow to anything you wish (you can simply stick with Liberation Sans).

By the way, the problem isn't really your settings, but hers -- she should set a proper font for the body text, and the

[2015-02-03 12:50] orschiro commented on #72
@bohoomil

Thank you for the snippet!

I will let her know subtly. ;)

[2015-02-06 22:51] sb56637 commented on #54
Hi, something just broke on openSUSE 13.2 with a recent update. All of my GTK3 apps (including my display manager and desktop environment!!) won't start, complaining of:

`symbol lookup error: /usr/lib64/libgdk-3.so.0: undefined symbol: cairo_surface_set_device_scale`

Any suggestions? Thanks!

[2015-02-06 23:49] beniked commented on #54
It seems that OpenSUSE pushed cairo-1.14 in updates for 13.2
Gimme some time.

[2015-02-07 00:05] sb56637 commented on #54
Thanks a lot @beniked for the fast reply. Meanwhile I'm using your Tumbleweed repo on my 13.2 system, which works fine.

[2015-02-07 00:09] beniked commented on #54
Ok, no more cairo-1.12 for OpenSUSE 13.2 since they pushed cairo-1.14 in Updates.
Enabled cairo-1.14 in my repo for 13.2 and disabled cairo-1.12. GTK3 apps should be good now.

[2015-02-07 01:08] sb56637 commented on #54
Thanks very much for the fast fix @beniked! Very much appreciated. I can confirm that the 13.2 repo is now working well.

[2015-02-10 02:48] fastrizwaan opened #73 "pacman-key -r 962DDE58 IPC connect call failed"
In antergos, i'm unable to install the key. Please guide.
root@antergos-pc rizvan]# pacman-key -r 962DDE58
gpg: connecting dirmngr at '/root/.gnupg/S.dirmngr' failed: IPC connect call failed

pacman.conf:
[infinality-bundle]
Server = http://bohoomil.com/repo/$arch

[infinality-bundle-fonts]
Server = http://bohoomil.com/repo/fonts

[core]
Include = /etc/pacman.d/mirrorlist

[extra]
Include = /etc/p

[2015-02-10 02:54] bohoomil commented on #73
See this one [2014-12-23 11:13:14](https://bbs.archlinux.org/viewtopic.php?pid=1486862#p1486862) and the following posts.

[2015-02-10 03:19] fastrizwaan commented on #73
Thanks, got it working by changing SigLevel to Never and The time was messed up.

[2015-02-11 05:50] #58 closed

[2015-02-11 05:50] #73 closed

[2015-02-11 05:51] #72 closed

[2015-02-11 05:54] #60 closed

[2015-02-13 08:54] fastrizwaan opened #74 "Original infinality like rendering with infinality ultimate?"
Dear Bohoomil,

Is it possible to get old infinality like rendering? Please see this image and tell me which is more readable?:
![debian-with-without-infinality](https://cloud.githubusercontent.com/assets/1161682/6184721/8c7ce12c-b38b-11e4-83ef-a1271248ccdf.png)

I really want the original infinality rendering with your 'infinality-ultimate'; is it possible?
her's the animated image:

![infinality

[2015-02-13 09:11] bohoomil commented on #74
Sure. Here's the original `infinality-settings.sh`: [generic-settings](https://github.com/bohoomil/fontconfig-ultimate/tree/master/freetype/generic_settings).

If you ask me which settings you should use, I'll always recommend you check out the `infinality-bundle` default in the first place: it's pretty universal, easy on the eyes and in majority of cases it "just works". Other than that, it's all

[2015-02-15 22:02] fastrizwaan commented on #74
Thank you Bohoomil, I experimented for hours, then realized that original values do work with the infinality-settings: here's the file:
    `cat /etc/X11/xinit/xinitrc.d/infinality-settings`

    ###          freetype2-infinality-ultimate settings          ###
    ###           rev. 0.4.8.3, for freetype2 v.2.5.x            ###
    ###                                                          ###

[2015-02-16 02:29] bohoomil commented on #74
Looks fine. As far as I can tell, the fonts used are Liberation Sans (left) Arial (right). Am I correct?

[2015-02-16 14:08] fastrizwaan commented on #74
Yeah, I'm having sans font.

I have to install freetype and fontconfig packages rpms by @dyskette

    fontconfig-2.11.1-7.infinality_ultimate.fc21.x86_64
    cairo-gobject-1.14.0-3.infinality_ultimate.fc21.x86_64
    freetype-2.5.5-3.infinality_ultimate.fc21.i686
    fontconfig-2.11.1-7.infinality_ultimate.fc21.i686
    cairo-1.14.0-3.infinality_ultimate.fc21.i686
    cairo-1.14.0-3.infinality_ul

[2015-02-17 11:42] fastrizwaan commented on #54
@valmar @dyskette, firefox, and gtk2 apps and qt apps work with infinality ultimate but gtk3 apps (nautilus, etc.) do not render with infinality ultimate. I installed dyskette's rpms (freetype, fontconfig, cairo, cairo-gobject). Am I missing something in fedora 21 for gtk3 infinality ulitmate rendering?

[2015-02-17 13:34] dyskette commented on #54
I just installed my packages on a fresh Fedora 21. They work, but you have to use `sudo fc-preset set`.

Maybe I have to fix my fontconfig package to do that automatically. It actually doesn't do anything post-install like the pkgbuild from bohoomil on Arch.

[2015-02-17 21:32] fastrizwaan commented on #54
@dyskette, even in antergos gtk3 apps are not rendered with infinality ultimate. But opensuse 13.2 rpms from http://download.opensuse.org/repositories/home:/nick31:/INFINALITY-ULTIMATE/openSUSE_13.2/  by @beniked, work. Please try to port opensuse rpm to fedora as they are working as expected. thanks.

[2015-02-18 02:00] dyskette commented on #54
The problem is...  I cannot reproduce your issue. So is difficult for me to know what to port. Just viewing the spec files, there are several differences between them.

Could you tell me how did you installed them, please? Maybe I'm missing something obvious.

@beniked Did you had this problem at some point, and if so, how did you fix it?

[2015-02-18 02:22] beniked commented on #54
@dyskette
At some point opensuse pushed cairo-1.14 in updates, and I updated Cairo in my repo because gtk3 apps stopped working with cairo-1.12. All the patches for Cairo in my repo are from upstream opensuse package and from bohoomil, nothing extra was done.
Maybe fedora got Cairo updated as well?

[2015-02-18 03:19] dyskette commented on #54
The thing is, cairo is updated to 1.14 since November (I updated even before them, then synced again with the distro). And my release number is higher than upstream Fedora, so it shouldn't be a problem. All patches are up to date as well (Fedora+Bohoomil's).

I will check all my specfiles again tomorrow anyway, just in case.

[2015-02-18 05:21] fastrizwaan commented on #54
@dyskette, I did not install cairo-tools (thinking it was not needed), now after installing cairo-tools along with other rpms work as expected. Downloaded from: https://www.copy.com/s/iFkCCIYj2gX1fW1E/fontconfig-infinality-ultimate/

I'll add your rpm to my OBS repo. Thanks :)

[2015-02-23 01:06] philthegitter opened #75 "Possible to obtain source for an infinality build based on freetype-2.4.9 or so?"
Hello,

I have been using infinality on Puppy Linux since mid-2013.  No other font rendering can compare.  My eyes owe you a million thanks.

The first infinality I compiled was based on freetype-2.5.0.1; and I just compiled, on Debian Jessie, a recent version of infinality based on freetype-2.5.5.  O how gorgeous!

I would like to compile an infinality which can be used on the much older Debian W

[2015-02-23 02:17] philthegitter commented on #75
Correction, "Freetype" -2.4.9 or so 8-o

[2015-02-23 02:26] philthegitter commented on #75
Found the older releases repository at http://www.infinality.net/fedora/linux/ so am closing the issue.  Thanks again for infinality!

[2015-02-23 02:26] #75 closed

[2015-02-28 14:55] postblue opened #76 "stone-soup not working with ttf-dejavu-ib"
I switched to Infinality fonts, and now crawl-tiles (graphical interface of stone-soup) is crashing due to missing /usr/share/fonts/TTF/DejaVuSansMono.ttf. Because ttf-dejavu-ib is unsupported, stone-soup won't be patched for it. Is it possible to have symlinked /usr/share/fonts/TTF/DejaVu* or would it cause problems?

[2015-03-02 01:36] bohoomil commented on #76
I think you can create a symbolic link ttf-dejavu-ib to TTF.

By the way, the game doesn't depend on `fontconfig`: it merely *assumes* that fonts on Linux are located in `/usr/share/fonts/TTF`, which is actually a bad practice. As far as I can remember, I discussed exactly the same issue in the past and instead of creating a symbolic link, the guy eventually set the game to use its own local fonts

[2015-03-03 19:25] fastrizwaan commented on #74
Ok got it working on fedora 21 and 22 (rawhide), hadrons123's rpms work,

https://www.copy.com/s/iFkCCIYj2gX1fW1E/fontconfig-infinality-ultimate/freetype (from
#54)

fontconfig-infinality-ultimate-1-20150601.noarch.rpm
freetype-infinality-ultimate-2.5.4-14.20152301_01.fc21.x86_64.rpm

In fedora 21/22 gnome needs medium hinting and grayscale antialiasing (which is strange) earlier  with infinality

[2015-03-03 19:43] fastrizwaan commented on #74
One more issue with hadrons123 rpms, the infinality-settings should be at /etc/X11/xinit/xinitrc.d instead of /etc/profile.d (which does nothing)

@bohoomil  does iu looks for infinality-settings at /etc/profile.d?

@dyskette ```/etc/X11/xinit/xinitrc.d/infinality-settings``` is the right place for the infinality-settings.

Please see the difference,

infinality settings at /etc/profile.d
![screen

[2015-03-03 19:50] fastrizwaan commented on #54
@dyskette
may be gnome has bug, the bash environment varialbes like that in infinality settings do not apply to the software/app run from .desktop file but applies on apps run from terminal.

Here's nautilus 3.15.90 run from menu (.desktop file) There's no font smoothening :(
![screenshot from 2015-03-04 01-18-19](https://cloud.githubusercontent.com/assets/1161682/6470841/78974366-c20c-11e4-9ad1-3

[2015-03-04 03:10] bohoomil commented on #74
@fastrizwaan Formerly, `/etc/profile.d` had been used, but later on it was reported that in KDE `freetype` runtime settings were lost after the DE was loaded -- hence I moved the file to `/etc/X11/xinit/xinitrc.d/`, which is the default location for additional scripts used by Xorg. You should issue `grep INFINALITY <(env)` and `grep Xft <(xrdb -q)` to check if your settings have been properly load

[2015-03-04 03:12] bohoomil commented on #54
@fastrizwaan See https://github.com/bohoomil/fontconfig-ultimate/issues/74#issuecomment-77089490 for details.

[2015-03-04 07:53] fastrizwaan commented on #54
OK, OBS Fedora 21 RPMS (using @dyskette (Dylan Smith's) src rpm, with my infinality-settings (extra smooth) and infinality-settings's location changed to /etc/X11/xinit/xinitrc.d/ instead of /etc/profile.d
Install freetype-infinality-ultimate and fontconfig-infinality-ultimate from opensuse build service repo:

[code]
complementary screenshot: and the link to compare your font rendering:
http://en

[2015-03-06 17:50] fastrizwaan commented on #54
gtk3 apps has issue, i've reported https://bugzilla.gnome.org/show_bug.cgi?id=745758

[2015-03-07 18:19] PGPereira opened #78 "Conky fonts look to small"
First of all, I really apreciate your project, bohoomil.

Today I installed conky, but it's fonts are looking too small. In the arch wiki I was told to change from 72 to 96 DPI in tha file  /etc/fonts/infinality/infinality.conf, but my system doesn't have it. Where do I find this file?

[2015-03-07 18:43] bohoomil commented on #78
There isn't and has never been anything like `/etc/fonts/infinality/infinality.conf`. We do have, however, `/etc/fonts/fonts.conf`, but the extra, non-standard DPI entry will be removed from it on the next update (it's deprecated and not needed for anything any longer).

DPI shouldn't be used to manipulate font size. If your conky fonts look too small, you should simply increase the size using app

[2015-03-07 18:47] PGPereira commented on #78
Should I change this in the arch wiki then?

[2015-03-07 19:07] bohoomil commented on #78
I don't control the Infinality article in any way so, well, it's really up to you. ;-)

[2015-03-07 20:13] fastrizwaan commented on #54
@bohoomil,  gtk developer is saying that it is not related to gtk, but fontconfig config issue. Do you have proper iu rendering with GTK3 apps like gedit / nautilus in archlinux? I experienced same issue of gtk3 apps not rendering with iu on opensue 13.2, antergos (arch linux), and fedora 21.

[2015-03-07 20:27] bohoomil commented on #54
Yes, I do: [Gedit launched via terminal emulator](http://bohoomil.com/img/arch_shots/2015-03-07_gedit_term.png) vs [Gedit launched via `desktop` shotrcut](http://bohoomil.com/img/arch_shots/2015-03-07_gedit_desktop.png).

[2015-03-08 17:17] #78 closed

[2015-03-08 17:27] PGPereira commented on #35
Is there any way I can help? How do a repository work? I can build it and send it for you, if you want

[2015-03-09 05:25] bohoomil commented on #35
@PGPereira Hello again and thanks a lot for offering assistance. Actually, I built jdk8-openjdk-infinality v. 8.u31-1 this weekend and now I'm going to test it. If everything looks fine, nothing breaks (including my nerves) and my CPU remains operational, I'll build the latest official release for both architectures and upload it when stock packages hit the `[extra]`. At the moment, this is going

[2015-03-10 08:58] bohoomil commented on #35
As `openjdk-infinality` is already in the repository, the thread can be closed.

[2015-03-10 08:58] #35 closed

[2015-03-17 23:44] PGPereira opened #79 "jdk8-openjdk-infinality not working as it should"
I've installed the jdk8 from your repo and it appears to be not working, because with it configured in archlinux-java  netbeans stopped working (it works ok with the openjdk from default repos, or the oracle java), but I can't confirm, since netbeans is the only java application I have.

[2015-03-17 23:47] bohoomil commented on #79
Did you remove the stock openjdk first as suggested [here](https://bbs.archlinux.org/viewtopic.php?pid=1510244#p1510244)?

[2015-03-19 19:25] PGPereira commented on #79
Yes. I had found a solution: remove the netbeans cache from my PC, now it works well.

[2015-03-19 19:43] bohoomil commented on #79
Great!

[2015-03-19 19:44] #79 closed

[2015-03-19 23:31] cocreature opened #80 "Fira fonts 4"
Not sure if there is a better place to report this, but the fira mons have been released in version 4 (community repos are already updated). Would be great if you could update the packages for them.

[2015-03-19 23:37] bohoomil commented on #80
Sure, thanks for the info. I'll prepare the package soon.

[2015-03-20 01:21] bohoomil commented on #80
Done. BTW, only Fira Sans was upgraded to 4.004 (as of 2015-03-19), Mono is still 3.111.

[2015-03-20 08:10] cocreature commented on #80
Great, thanks for the quick response (and also thanks for all the work you are putting into this font stuff, you're awesome). I'll wait for mono (take your time :)).

[2015-03-20 08:22] bohoomil commented on #80
There is no 4.003/4.004 Mono available. In `[community]`, only the package versions were changed, Mono fonts are still 3.111. ;-)

[2015-03-20 08:28] cocreature commented on #80
Oh allright, closing this then.

[2015-03-20 08:28] #80 closed

[2015-03-20 17:58] Firef0x opened #81 "Bug: doublecmd-gtk2 fails at start with "Division by Zero""
Hello @bohoomil ,

Description
---
After last system update, 'doublecmd-gtk2' fails at start with `Division by Zero`:

[code]

Workaround
---
As is mentioned in https://bugs.archlinux.org/task/44251#comment133611 , rolling back from `fontconfig-infinality-ultimate` 2.11.1-26 to `fontconfig-infinality-ultimate` 2.11.1-24 makes doublecmd-gtk starts again!

Is it a bug of `fontconfig-infinality-ultim

[2015-03-20 19:10] bohoomil commented on #81
I'll just leave it here…

https://bbs.archlinux.org/viewtopic.php?pid=1512661#p1512661

[2015-03-21 01:07] Firef0x commented on #81
Sorry that I neglected it. Feel free to close this issue, or wait till the fontconfig devs fixed the bug.

[2015-03-21 01:34] bohoomil commented on #81
;-)

[2015-03-24 10:14] mgdde opened #82 "Update from 19-03-2015 removed cyrillic chars from t1-urw-fonts-ib"
The recent (as of 19-Mar-2015) update to t1-urw-fonts-ib apparently has removed all cyrillic characters from the font. Is it possible to get them back ?

Without lilypond does not build.

[2015-03-24 11:08] bohoomil commented on #82
It looks like an ugly bug (they claim that [Cyrillic glyphs were added](http://git.ghostscript.com/?p=urw-core35-fonts.git;a=log), though).

I've uploaded a package (`t1-urw-fonts-cyr-ib`) with an earlier release of core35 fonts. Just install it and everything should be fine.

[2015-03-29 09:19] huypn12 commented on #54
@beniked
Hi nick! Thanks for your contribution.

I have a problem with your Infinality build. I have installed them on my Opensuse 13.2 (add repository and switch system packages to your repository's version on Yast). However, changing configuration set on /etc/profile.d/infinality-settings does not affect font rendering. Is there anything wrong?

[2015-03-31 14:27] DoctorJellyface opened #83 "Font issues in Steam"
Arch, 64 bit.

When launching Steam with the Steam Runtime disabled (so that it uses system libraries) I get not-so-nice fonts, as if they were using wrong settings. Fuzzy and hard to read. Not sure if it's Infinality's fault though.

Running GNOME 3.16, anti-alias set to RGBA, hinting to full, multi-lib libraries installed, ibfonts-meta base and extended too, preset set to free.

[2015-04-06 23:15] szymonszydelko commented on #83
While we are at it: I don't care much about the steam runtime being active or not, but can someone replace the three libraries inside it with patched versions from bohoomil/infinality?

[2015-04-09 09:36] minorsecond opened #84 "App-admin/infinality and app-admin/lcdfilter ebuilds moved to app-eselect category"

[2015-04-09 09:37] #84 closed

[2015-04-15 07:48] dontdieych opened #85 "'/etc/X11/xinit/xinitrc.d/infinality-settings' should have '.sh' suffix."
See this bug report.

https://bugs.archlinux.org/task/41471

I start X using `startx` command on console. So I copied '/etc/X11/xinit/xinitrc' to '$HOME/.xinitrc' then edit it.

[code]

Because this block, infinalty settings does not applied.

[2015-04-15 08:35] bohoomil commented on #85
When you use a simple wildcard (`*` without a suffix) everything should work and I'd recommend you leave it this way. However, I can suffix the file as well if it makes it more robust.

I will introduce the change on the next update.

[2015-04-15 10:52] dontdieych commented on #85
Thanks. Your are my hero.

[2015-04-16 13:49] DoctorJellyface commented on #83
If the Steam runtime is off, then the infinality libraries are used.

[2015-04-21 19:53] beniked commented on #70
Hello there, i just built bohoomil-enabled (lol) freetype, fontconfig and cairo for fedora 21. Fonts look great (Firefox as well).
I am figuring out how/where to put them online, since i am new to Fedora.
Should i just put them on opensuse build service?

[2015-04-23 11:05] beniked commented on #54
@huypn12

Please check updated packages.

infinality-settings.sh moved to xinitrc.d

[2015-04-26 21:34] #85 closed

[2015-04-27 01:31] dontdieych commented on #85
Thanks.
2015. 4. 27. 오전 6:34에 "bohoomil" <notifications@github.com>님이 작성:

[2015-04-27 01:36] bohoomil commented on #85
My pleasure. :-)

[2015-04-27 22:00] fungible opened #86 "conf.avail.infinality/83-yes-bitmaps.conf bool value should be false?"
In conf.avail.infinality/83-yes-bitmaps.conf, I think the bool value should be false, as it should follow with the conf.avail.infinality/82-no-bitmaps.conf template. Also the default fontconfig template 70-yes-bitmaps.conf also shows false bool value.

[2015-04-27 23:48] bohoomil commented on #86
Good point: will be fixed soon.

Thanks a lot for reporting.

[2015-04-27 23:49] #86 closed

[2015-04-28 14:19] aufau opened #87 "Wrong configuration for Lohit Bengali"
fontconfig_patches/fonts-settings/66-lohit-bengali.conf contains configuration for Lohit Assamese.
Ran into it while updating gentoo ebuild - I feel like reportng such bug needs explanation :)

[2015-04-28 19:57] bohoomil commented on #87
:-) Thank you -- the fix is coming.

[2015-04-28 19:57] #87 closed

[2015-04-28 21:35] cesasol opened #88 "No text or maybe to small on nwjs app"
With the markdown editor "Haroopad" made with nwjs the text are shown as dots, maybe it is too small. I can confirm this only happens on archlinux with this patchset for freetype. It happens on any DE and with or without hinting and dpi enforcing
![2015-04-28-162320_1920x1200_scrot](https://cloud.githubusercontent.com/assets/3846473/7380895/4d6e7658-edc4-11e4-840e-dc944c6336be.png)

[2015-04-28 22:05] bohoomil commented on #88
Here is the answer: [click](https://bbs.archlinux.org/viewtopic.php?pid=1512661#p1512661). Just install `fontconfig-iu-comp` and everything will get back to normal.

[2015-04-29 20:28] cesasol commented on #88
Thanks that solved my issue.  This should be on the wiki

El 28 de abril de 2015 5:05:45 PM CDT, bohoomil <notifications@github.com> escribió:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-04-30 10:33] huypn12 commented on #54
Thanks @beniked :+1:
My OpenSuse system has crashed due to some bugs on kernel with nvidia blobs, so I cant confirm it right now. Anyone who using opensuse could please check if it's work?

[2015-04-30 17:13] cocreature opened #89 "Outdated ssl cert"
The ssl cert on the binary repos is outdated so pacman complains. It would be great if you could change it to a new one that is still valid.

[2015-05-11 01:20] jaro3 opened #90 "freetype2-infinality-ultimate broke the compatibility with stock freetype2"
There is a bug in the latest release 2.5.5-5 which prevents building of some packages:

FT_Get_X11_Font_Format is defined in freetype2/ftxf86.h, but in infinality, it's defined in freetype2/ftfntfmt.h.

See e.g. HERE:

https://aur.archlinux.org/packages/palemoon/

[2015-05-11 01:54] bohoomil commented on #90
We know about it, see here: [Arch Linux Forums, 2015-03-31](https://bbs.archlinux.org/viewtopic.php?pid=1515939#p1515939). Just change the name of the header file in your source file(s) and you're fine.

[2015-05-14 18:42] jristz commented on #64
I've added you to the family tree on Geni, a website that helps families create and share their family tree and stay in touch with each other.

http://www.geni.com/c/87df7948aac8a097aa0982cae98a123626c04476

Kind regards,

- The Geni Team

------------------------------------------------------------
You are currently signed up to be notified of request activity. Unsubscribe: http://www.geni.com/ac

[2015-05-15 01:20] flamusdiu commented on #64
@jristz I think something happen to this thread.

[2015-05-15 03:07] bohoomil commented on #64
@flamusdiu 'Something' in this case we call spam...

[2015-05-15 13:13] flamusdiu commented on #64
@bohoomil haha. I know. I was just pointing it out (probably didn't need to). =P

[2015-05-15 22:24] silenc3r commented on #70
@beniked could you please provide repo for Fedora 22?
Also, since I'm quite new to Fedora, what's the proper way to install packages from your repository? They all conflict with system packages. I did it like this:

[code]

Is there any simpler way to do this? From what I recall, on Arch you just have to issue one command, ie:

[code]

and it would automatically resolve package conflict. Can yum/d

[2015-05-16 13:56] cocreature commented on #89
Thinking about it, gpg already does the encryption so this is a non-issue. sorry for the noise.

[2015-05-16 13:56] #89 closed

[2015-05-16 14:07] szymonszydelko opened #91 "Please add the Office Code Pro font to the repo"
https://github.com/nathco/Office-Code-Pro

I think that the existing PKGBUILD for Source Code Pro could be reused as is.

[2015-05-16 14:32] bohoomil commented on #91
Done -- enjoy!

[2015-05-16 14:51] szymonszydelko commented on #91
Thanks, already installed.

[2015-05-16 14:51] #91 closed

[2015-05-16 15:02] beniked commented on #70
@silenc3r OBS doesn't have F22 repo to build against yet.

As for replacing a package with yum, look here http://ahmed.amayem.com/replacing-yum-plugin-replace-one-yum-install-package-php-with-another-on-linux-centos-6/

[2015-05-17 06:01] jristz opened #92 "Add Celestia Medium Redux?"
Good font for titles in comic and pony content... I can't find a better description.
Original Upstream (no reseive more changes or updates): http://www.mattyhex.net/CMR/
licence: Public domain
My fork (and as far the only one and upstream aproved): https://github.com/jristz/Celestia-Medium-Redux
licence: Public domain and I encourage that and apreciate any patch
The font is composed of Celestia Me

[2015-05-18 18:10] jristz commented on #63
why not add the sniplet for gimp (the one that requieres simplu add a fonts.conf file to the main gim p config file in a separate package for those like my who not want copy the .conf file over and over and over and over again maybe a small package iu-gimp-workaround so users could deside if they want try the script or not and try other things.

[2015-05-18 21:29] szymonszydelko opened #93 "Strange 'fi' ligature in latin text"
Please look at the picture. This surfaced after the last pacman update I've did.

![selection_017](https://cloud.githubusercontent.com/assets/3144357/7690638/a7a975d6-fdb5-11e4-8419-36a331d3db13.png)

The browser is Firefox, also, other ligatures have started appearing, like 'fl'.

[2015-05-18 21:43] bohoomil commented on #93
Try cleaning the cookies and rebuilding the font cache in the first place. With so little data provided, I'm not able to reproduce the problem: generic reddit renders correctly to me.

[2015-05-18 22:00] szymonszydelko commented on #93
OK, clearing the font cache helped. Not sure what caused the problem, though.

[2015-05-18 22:00] #93 closed

[2015-05-21 21:38] silenc3r commented on #70
@beniked I think you should add "Obsoletes" tag to package spec files. That would simplify installation, especially on Fedora 22 which does not support yum by default.

[2015-05-21 21:54] beniked commented on #70
I believe I did, check the spec file? Let me know what to change.

[2015-05-22 13:27] silenc3r commented on #70
I think you should change Obsoletes line to something like this:

[code]

Here's gist with updated files: https://gist.github.com/silenc3r/ef1c86c4a2267687ebe1
I've also changed ```Revision``` and ```Provides``` lines, but that's just cosmetics. I wanted to make it look similar to official packages, but I'm not sure if that's the right way to do that.

There's still problem with cairo though, sinc

[2015-05-22 18:04] carlgeorge commented on #70
@silenc3r @beniked

If `foo` is the package you want to obsolete, then obsoleting `foo%{?_isa}` won't work.  `%{?_isa}` translates to either `(x86-32)` or `(x86-64)`, so you are either going to have an obsolete for `freetype(x86-32)` or `freetype(x86-64)`.  But there are no packages by those names; the `foo` package may provide those names, but they are virtual provides.  Obsoletes only work on th

[2015-06-02 06:35] adament opened #94 "Expired certificate for bohoomil.com"
When connecting via https to bohoomil.com using firefox or chrome it complains about the TLS certificate being expired.

[2015-06-02 07:04] bohoomil commented on #94
The certificate is generally for personal use, by default the site doesn't offer a secure connection. Maybe one day I'll update it. Maybe... ;-)

[2015-06-02 08:45] adament commented on #94
No problem, in that case I will just file a bug report with HTTPS Everywhere to disable the bohoomil.com rule.

Thank you for all your amazing work.

[2015-06-05 11:40] tylerwylie commented on #70
This would be amazing in Fedora 22, another request for packages for F22.  I'm going to spin up an Arch VM to give these packages a shot too.

[2015-06-06 15:54] silenc3r commented on #70
@tylerwylie here's my Fedora 22 repo: http://download.opensuse.org/repositories/home:/silencer:/infinality-fedora/Fedora_22/

[2015-06-06 16:14] smerrill commented on #70
@silenc3r Thank you very much for this. It works wonderfully on my F22 system.

[2015-06-06 21:28] tylerwylie commented on #70
This installed for me as well @silenc3r, much thanks!

[2015-06-09 17:34] thypon opened #95 "Freetype 2.6 support"
The patches can't be applied to freetype 2.6.

[2015-06-09 17:49] bohoomil commented on #95
Which "patches"? Do you happen to read the output of your patching application, compiler, etc.? Some basic investigation before filing a bug report? :-p

[2015-06-09 20:00] thypon commented on #95
I "mantain" the patchset for https://github.com/voidlinux/void-packages. Right now only the upstream patch doesn't apply, but was quite expected. The other two applies with hunks.

[2015-06-09 21:23] bohoomil commented on #95
There's actually one hunk:

[code]

It's purely cosmetic, hence the patch is still successfully applied (I'll update it one day, though). The upstream patch is always made redundant as soon as the new official major/minor version is released. If this is "expected" (obviously) so what's the big deal?

[2015-06-09 21:37] thypon commented on #95
Nothing. :+1: for the hard work. Was more of a reminder.

[2015-06-10 02:51] nikux commented on #70
[code]
My repos:
[code]
@silenc3r I ran that command and that is the error I got. Thanks for your work!

[2015-06-10 08:02] #95 closed

[2015-06-10 15:58] carlgeorge commented on #70
@nikux It looks like `fontconfig-infinality-ultimate-2.11.93-13.2` conflicts with exactly the same version of `fontconfig`.

`fontconfig < 2.11.93-13.2`

But your installed version is `fontconfig-2.11.94-1.fc22`.  The package maintainer (@silenc3r) should remove the version requirement on the conflict, or ensure that his `fontconfig-infinality-ultimate` is always a newer version than the stock one

[2015-06-11 09:25] ismail opened #96 "infinality patch no longer applies to freetype 2.6"
Hi, getting some rejects:

     + /usr/bin/cat /home/abuild/rpmbuild/SOURCES/03-infinality-2.6-2015.06.08.patch
     + /usr/bin/patch -p1 --fuzz=0
     patching file configure
     patching file devel/ftoption.h
     Hunk #1 succeeded at 609 (offset 2 lines).
     patching file include/config/ftoption.h
     Hunk #2 succeeded at 604 (offset 2 lines).
     patching file src/autofit/aflatin.c
     H

[2015-06-11 09:31] bohoomil commented on #96
https://github.com/bohoomil/fontconfig-ultimate/issues/95

[2015-06-11 13:28] ismail commented on #96
Well you see this is not a duplicate of #95 , I don't apply the upstream patch at all. As you see 03-infinality-2.6-2015.06.08.patch itself fails.

[2015-06-11 13:30] ismail commented on #96
Never mind, patch fails with --fuzz=0 , needs a refresh.

[2015-06-11 13:30] #96 closed

[2015-06-11 16:39] bohoomil commented on #96
Yes, it somehow is a duplicate of #95. The patch applies fine to the **clean 2.6 code base**. If it fails for you, than you must be doing something wrong. Are you first patching the code with some distro-exclusive bits, for instance? Did you try changing patch options, e.g. use '-Np1 -i' instead of '--fuzz=0'? Check this out, please.

[2015-06-11 18:27] ismail commented on #96
Yep you are right, patches apply cleanly on top of vanilla freetype, sorry for the noise! And thanks for your hard work.

[2015-06-14 02:38] jristz opened #97 "Last update break workaround for Gimp"
As is know Gimp have problems with Infinality, I use the workaround in the wiki but now with the last update (of infinality only) the Gimp no more respect the workaround, therefor the fonts look horrible.

downgrade solve the issue, but that not a solution, go to the past never is, the future is the solution.

[2015-06-15 15:06] SammysHP opened #98 "Segfault while generating SVG thumbnails in Nautilus"
When I open a directory that contains a specific SVG file in Nautilus, a segfault in libfreetype.so occurs.

[code]

It is `freetype2-infinality-ultimate 2.6-1` from your repo:

[code]

You can get the SVG file here: https://dl.dropboxusercontent.com/u/44720989/Keller-Raumschild.svg

As you can see, the backtrace might not be really helpful, but maybe you can reproduce the issue. If not, please te

[2015-06-15 17:54] bohoomil commented on #98
Hi SammysHP,

I can't reproduce it, unfortunately... Did you experience issues with the 2.5.5-7 build from the ib repo? 2.6-1 is almost exactly the same library as 2.5.5-7.

Did you try rebuilding the font cache?

[2015-06-15 19:46] SammysHP commented on #98
`# fc-cache -f` did not help.

I did a quick bisect and the results:

**good:** `freetype2-infinality-ultimate 2.5.5-1`
**bad:** `freetype2-infinality-ultimate 2.5.5-2`

[2015-06-15 20:28] bohoomil commented on #98
Yep, I can reproduce it with a different svg file, though. Vanilla freetype2 2.6 from [testing] seems to be working correctly. We'll have to revise the Infinality patchset.

Thanks for reporting.

[2015-06-16 08:47] silenc3r commented on #70
When I remove version requirement the x86_64 package conflicts with i686 one. I don' really know solution for that, except for changing ```fontconfig-infinality-ultimate``` version to some phony high number.

[2015-06-20 12:47] KenetJervet commented on #26
For anyone that might be looking for bohoomil mirrors:
The mirror provided by @hzy199411 does not work any more.

[2015-06-23 17:07] arpiruk commented on #54
Just registered to say thanks!!!

You guys solved my problem

[2015-06-24 05:08] jristz commented on #64
I've added you to the family tree on Geni, a website that helps families create and share their family tree and stay in touch with each other.

http://www.geni.com/c/8153842ab40bb6d625b6dbd78b7be89175febed9

Kind regards,

- The Geni Team

------------------------------------------------------------
You are currently signed up to be notified of request activity. Unsubscribe: http://www.geni.com/ac

[2015-06-30 19:05] goddesse commented on #98
From what I can tell, it has to do with the changes in upstream's build configuration that causes gcc to be a little more strict wrt to C89 and C90. The crashes are coming from strcasecmp and strcasestr which are GNU extensions and the build output complains that their declarations are implicit.

As a quick fix, I was able to eliminate the crash by simply using the more standard strncmp and strstr

[2015-07-14 19:32] shmartens commented on #70
@nikux I encountered also this problem. My workaround was to downgrade fontconfig `dnf downgrade fontconfig` and to prevent fontconfig from updating `dnf install --allowerasing freetype-infinality-ultimate fontconfig-infinality-ultimate cairo-infinality-ultimate --exclude fontconfig`. @silenc3r I really appreciate your work :)

[2015-07-14 23:44] AnAkIn1 commented on #83
Same here, I've always had font issues in steam with infinality. Some characters overlap in steam chats.

[2015-07-15 11:04] thypon commented on #83
https://aur.archlinux.org/packages/steam-fonts/ this package usually fixes these problems.

[2015-07-23 16:01] DoctorJellyface commented on #83
Shouldn't the free fonts have the same width?

[2015-07-28 00:43] Quanttek commented on #70
It seems like "light" fonts, especially mscorefonts, are rendered in a pretty ugly way. I used @silenc3r 's repository - Thank you for your work! - with the default settings. I don't remember the same problems on Arch though, which is why I am posting it here. Examples:

![Example 1: dict.cc](http://i.imgur.com/ryzU2dZ.png)
![Example 2: Google](http://i.imgur.com/EKdgivT.png)
![Example 3: Argon2 P

[2015-07-28 01:04] bohoomil commented on #70
@Quanttek -- this is what dict.cc looks like on Arch with Arial 6.9, freetype-iu 2.6-1 (with default run time settings) and fontconfig-iu 2.11.1-28:

![arial-dict cc](https://cloud.githubusercontent.com/assets/421230/8921393/39b6dada-34d5-11e5-9710-b171d65ac87c.png)

First of all, check the output of `grep Xft <(xrdb -q)` and `INFINALITY <(env)` (it should reflect the values in `infinality-setting

[2015-07-28 10:00] Quanttek commented on #70
[code]
[code]

They reflect the values of `/etc/X11/xinit/xinitrc.d/infinality-settings.sh`

[2015-07-28 19:58] bohoomil commented on #70
@Quanttek The golden rule is: for best results, always use the most recent MS fonts. ;-)

[2015-07-28 21:04] Quanttek commented on #70
@bohoomil Well, [this](http://sourceforge.net/projects/mscorefonts2/files/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm) is the package I installed, [project homepage is here](http://sourceforge.net/projects/mscorefonts2/) and it seems rather outdated. I chose the free fc-preset now and everything is fine. I think I'll submit a patch for [fedy](https://github.com/satya164/fedy), [which uses an ev

[2015-07-31 13:44] Huulivoide opened #99 "Add easy way to swicth the primary NotoSansCJK font"
Currently Japanese variant of NotoSansCJK is used by default, unless another font
is requested specifically. For me this is a problem as I need the Chinese variant by
default as many applications don't allow you to change the font per language.

[2015-08-01 01:39] bohoomil commented on #99
This is actually one of the problems I've never managed to solve properly... There is no obvious way to make fontconfig use a particular font for a given CJK script: although it's possible, the results happen to be unreliable and inconsistent, especially when we have more than one family providing support for a certain language. On the other hand, Firefox renders Japanese and Chinese scripts with

[2015-08-01 11:43] Huulivoide commented on #99
The biggest problem comes down to being ibus and to some extend Firefox. With ibus the problem is bigger as I cannot sometimes find the correct character form the list of offered ones. With Firefox the problem is still there, sadly most Chinese websites (that I use) do not specify the HTML lang attribute anywhere and as so Firefox just falls back to general font, instead of the one I have specifie

[2015-08-04 06:31] DoctorJellyface opened #100 "Patch mono fonts for Powerline compatibility"
It would be awesome if the mono fonts in this repo were patched for Powerline compatibility. Right now users need to download [patched fonts](https://github.com/powerline/fonts) and set them as backup if they don't want to lose the nice Infinality rendering.

The fonts can be patched for example with [this](https://github.com/powerline/fontpatcher) utility.

[2015-08-07 10:05] bjornwsv opened #101 "Tehuti"
# Problems with Tehuti font alignment

The font doesn't seem to align correctly. Se screenshot.

![screenshot from 2015-08-07 11-37-07](https://cloud.githubusercontent.com/assets/3709210/9133056/af1d590e-3cf8-11e5-9c74-c8c8ac74df26.png)

To reproduce:
Install otf-tehuti-ibx

Open *Writer*, *Gedit* or similar and change the font to *Tehuti*

Tested in *Writer* and *Gedit*. Arch Linux Gnome 3.14

[c

[2015-08-10 02:27] bohoomil commented on #101
I'm afraid this has nothing to do with Infinality. Tehuti covers huge number of character sets which may require non-standard width/height ratios in order to be used simultaneously. Take a look:

IMO, it's probably some sort of fontconfig's limitation that prevents the font from being able to align the text properly. If it's possible for you, please check out whether the font renders properly with

[2015-08-11 14:33] adament opened #102 "Gentium Tug new version: 1.1"
According to http://ctan.org/pkg/gentium-tug the current version of Gentium TUG is 1.1. However the repository claims 1.0-6 so I assume that the version is slightly out of date.

[2015-08-11 23:40] bohoomil commented on #102
Thank you for the info -- the package has been updated.

[2015-08-11 23:40] #102 closed

[2015-08-15 23:31] mastercoms commented on #70
@silenc3r Maybe take a look at [this](https://bugzilla.redhat.com/show_bug.cgi?id=1244316), it shows the solution for conflicting x86_64 and i686 packages.

[2015-08-19 00:00] frank604 commented on #94
A personal signed certificate still enables encryption between the webpage and viewer.  Do we really need the cert to be signed off by a trusted cert authority?

[2015-08-25 02:51] #81 closed

[2015-08-27 19:22] itoijala opened #105 "Mathematics with pdf.js"
Parts of formulas in PDFs are sometimes much too large when displayed in Firefox using pdf.js.
The problem disappeared when I tried the vanilla Arch packages.
I am using an up-to-date Arch install, but the problem has existed for years (ever since pdf.js was released).

See https://github.com/mozilla/pdf.js/issues/2594#issuecomment-127017542

[2015-08-30 09:52] veluria opened #106 "Outdated Java builds in Infinality repository"
I'd be nice if you could upgrade them. :-)

[2015-08-30 09:57] bohoomil commented on #106
Thanks for the info: I'll prepare the upgrade soon.

[2015-08-30 21:28] #106 closed

[2015-08-31 01:35] jethrogb commented on #105
https://bugzilla.mozilla.org/show_bug.cgi?id=1200077

[2015-08-31 20:53] jethrogb commented on #105
https://bugs.freedesktop.org/show_bug.cgi?id=91829

[2015-09-06 10:51] SammysHP commented on #98
Still not working with 2.6-3 from Di 25 Aug 2015 04:26:04 CEST.

[2015-09-06 22:49] CrisBRM opened #107 "Quick question"
Running eselect fontconfig list no longer lists ````52-ultimate.conf```` but rather, ````52-infinality.conf````. It is listed under lcdfilter and infinality. Am I doing something wrong, or is this intentional?

[2015-09-06 23:02] bohoomil commented on #107
You should ask for support on your distro's Forums: I don't support the old style fontconfig-infinality.

[2015-09-06 23:04] CrisBRM commented on #107
It is intentional. Thanks and sorry for wasting your time.
Great project!

[2015-09-06 23:04] #107 closed

[2015-09-08 16:58] RafaAguilar opened #108 "Installation on Mageia 5 x86_64 - libpng16.so.16 dependency not satisfied"
Hi Bohoomil,

First, thank you for your efforts, i was trying to make a local repository of _fontconfig-ultimate_ from [OpenSuse Repo](http://download.opensuse.org/repositories/home:/silencer:/infinality-fedora/Fedora_22/x86_64/), i just downloaded all package an run `genhdlist2  .`, later i added to my repo urls, everything fine 'til this step, when i was trying to install packages, this came up:

[2015-09-10 12:48] Mikaela commented on #94
Currently only updates and update checks of infinality-bundle & infinality-bundle-multilib go through the network in plain text and I don't think there is any need why anyone would need to know what packages I update etc. so easily, so SSL certificate would be helpful.

Yes, **unless** you start supporting DNSSEC + DANE and write DANE support for cURL (it's in their todo and has been for a long ti

[2015-09-11 05:54] Mikaela opened #110 "Documentation: 2, 3 & 4 aren't links"
* http://bohoomil.com/doc/

Only 1 and 5 are clickable links.

[2015-09-11 07:35] bohoomil commented on #110
Yep, others aren't. My fault. Won't fix. ;-)

[2015-09-11 07:39] Mikaela commented on #110
Shouldn't they be links or commented out entirely so no one wonders why the links don't work?

[2015-09-11 08:06] bohoomil commented on #110
I do know I should re-work the site somehow and probably one day I will do this. I somehow got stuck with it and lost motivation to do anything about it at all: the original plan for the following parts didn't work out technically, then plenty of customization tricks got out of date (because upstream fixes or updates arrived), and so forth. If my terrible attitude isn't otherwise destructive, plea

[2015-09-13 09:14] Mikaela commented on #94
* https://buy.wosign.com/free/

is also recommended a lot from what I can see. Mostly it's suggested at #znc at freenode.

[2015-09-13 09:28] bohoomil commented on #94
@Mikaela Thanks for the info. I've just applied for the 3 year certificate at wosign and once I get it, I'll install it on the site.

[2015-09-13 10:50] bohoomil commented on #94
OK guys, it's running fine for me and so it should for you. Please, check it on your side and report back.

@Mikaela Thanks again. It's been a great deal of help.

[2015-09-13 12:04] Mikaela commented on #94
It works on Chromium, but not pacman.

[code]

[2015-09-13 12:37] bohoomil commented on #94
What can I do about it?

[2015-09-13 12:51] Mikaela commented on #94
I don't know

[2015-09-13 12:54] Mikaela commented on #94
[code]

I think that means that WoSign is either trusted by the browser or cross-signed so that browser trusts it, but it's not part of ca-certificates and cURL doesn't like it.

[2015-09-13 13:00] lucaswerkmeister commented on #94
The trust chain is: bohoomil.com > WoSign CA Free SSL Certificate G2 > Certification Authority of WoSign > StartCom Certification Authority.

I think the problem might be that the server is only sending the chain up to WoSign cA Free SSL Certificate G2. The browser knows the Certification Authority of WoSign certificate, so it can complete the trust chain. cURL on the other hand only known StartCo

[2015-09-13 13:05] lucaswerkmeister commented on #94
Confirmed: https://www.ssllabs.com/ssltest/analyze.html?d=bohoomil.com

The server is actually just sending its own certificate.

(The other problems – cipher suites, exchange problems, etc. – might also be worth looking at.)

[2015-09-13 13:17] Mikaela commented on #94
And after they are fixed, [HSTS](https://www.eff.org/https-everywhere/faq#faq-How-do-I-add-my-own-site-to-HTTPS-Everywhere?) could also be nice. HTTPS Everywhere could probably also be told that the issue is resolved when it is.

[2015-09-13 13:19] Mikaela commented on #94
https://wiki.mozilla.org/Security/Server_Side_TLS#Apache can be helpful.

[2015-09-13 13:48] bohoomil commented on #94
Thanks for all the tips (some sounds like Chinese proverbs to my ears, though). I'll see what I can do as a non-expert.

[2015-09-19 08:46] valmar commented on #70
Dear all, I have a question. What is now the recommended repo fo infinality on Fedora? Am I right in assuming that the most up-to-date and mantained is the one from silenc3r?

[2015-09-22 08:33] aphirst commented on #53
It's been almost a year now. I think it's safe to say I'm no longer experiencing this bug. Feel free to close, if you want.

[2015-09-22 08:38] #53 closed

[2015-10-04 22:08] totakura opened #111 "Firefox 41.0.1 crashes with fontconfig-infinality-ultimate-2.11.1-30 on archlinux"
This issue is similar to #58.  The crash happens as in the referenced bug.  Here is a stack trace:
[code]
The fix suggested in #58 is applied in my setup

[2015-10-04 22:23] bohoomil commented on #111
We no longer use the configuration from November 2014, so no such "fix" can be applied. Please, revise and update your fontconfig-iu installation as it seems to be causing the problems.

[2015-10-05 08:07] vladimir-didenko opened #112 "Memory leak in kde 4 plasma when libfreetype infinality is installed"
On of the Alt Linux users reported memory leak in KDE 4 plasma when libfreetype-infinality installed. After small amount of time plasma eats about 2 GBs of memory and crashes with follow backtrace:

[code]

After some investigation I have found that issue was already reported previously but in kde bugzilla

https://bugs.kde.org/show_bug.cgi?id=343737

[2015-10-05 08:18] bohoomil commented on #112
Which version of stock freetype2 is supposed to be used on your of Alt Linux installation?

[2015-10-05 08:19] vladimir-didenko commented on #112
@bohoomil  2.6.0

[2015-10-05 08:30] bohoomil commented on #112
Did you compile the library with the upstream patches I've been providing? If yes, consider building the new stock version, 2.6.1, with the Infinality patchset. Now that the freetype2 code base is stable and officially released, there may have been various little bugs and issues fixed and were still present in your version. As this is a minor upgrade, there should be no compatibility issues with t

[2015-10-05 08:34] vladimir-didenko commented on #112
I have built 2.6.1 infinality package. Will ask user to test it.

[2015-10-05 08:35] bohoomil commented on #112
Thanks for the info. Please, report back if this helped.

[2015-10-06 07:40] vladimir-didenko commented on #112
User upgraded to 2.6.1 and he is still has memory leak issue.

[2015-10-06 07:56] bohoomil commented on #112
Thank you. Just a couple of questions: is he the only one experiencing the problem? Has anyone else using a similar configuration (Alt Linux + Plasma + freetype2-infinality) reported issues like his? Is his fontconfig-infinality{-ultimate} configuration correct? freetype2 and fontconfig work together and sometimes when the latter is misconfigured the rendering lib may crash. For best results, I'd

[2015-10-06 08:06] vladimir-didenko commented on #112
I don't have problem on my machines. But in first post I provided link to the report in kde bugtracker - the same issue was reported by Fedora user in February (for freetype 2.5.0).

I am packing original version of fontconfig-infinality with very small modifications (e.g. default font aliases). There is my repo
http://git.altlinux.org/people/cow/packages/?p=fontconfig-infinality.git;a=summary

It

[2015-10-06 08:21] bohoomil commented on #112
OK then. We're simply going to leave the issue open: maybe @goddesse will kindly look into it and suggest a solution.

[2015-10-06 14:13] goddesse commented on #112
The segfault is probably because the code assumes the mallocs/reallocs will always succeed. Checking for nullity would fix the crash, but you'd still have an unusable system from the runaway memory. I could set a maximum reasonable memory size that the stem detection can work in and see if that fixes the latter. I'd be curious to know more about the user's system to better understand what's causin

[2015-10-06 16:48] vladimir-didenko commented on #112
@goddesse

He has problem with English but he is agree to communicate through me. So describe information you need and I will redirect request to user.

[2015-10-06 20:20] goddesse commented on #112
@vladimir-didenko I would like to know the total amount of system memory, platform endianness, and plasma's UI font and locale. Also, what Alt Linux ISO would get me closest to his environment? 7.0 kdesktop or sisyphus kde4?

[2015-10-07 12:20] vladimir-didenko commented on #112
There is user system information:

 * Kernel:

[code]

 * Memory:

[code]

 * Locale:

[code]

 * Image: user said that system was installed 12 years ago and then continuously updated using Sisyphus (development) repository.

 * Fonts in KDE4: he is using aliases Sans and Monospace

[code]

You can use follow image

http://nightly.altlinux.org/sisyphus/current/regular-kde4-latest-i586.iso

But by

[2015-10-09 15:46] Mikaela commented on #94
Is there any schedule for this? The only not-https repository bothers me.

[2015-10-10 15:01] 4e6 opened #113 "Input font package"
Request for Input font http://input.fontbureau.com/
There is also aur package https://aur.archlinux.org/packages/ttf-input/

Initially discussed on g+, where I described the issue with hinting https://plus.google.com/u/0/+DmitryBushev/posts/Bq8Jzf7f5vQ

[2015-10-11 04:19] bohoomil commented on #113
Unfortunately, their [license](http://input.fontbureau.com/license/) states it clearly:

BTW, I wanted to add the family to the repo myself quite a time ago... ;-)

[2015-10-11 08:37] 4e6 commented on #113
That's sad. For the record, I came up with fontconfig that disables `autohint`, that solved my issue (letter 'm' on screenshot) 4e6/dotfiles@b4329f385c325f7ebabd9a7da46df9f117c099fa

![2015-10-10-084642_2560x1440_scrot-animation](https://cloud.githubusercontent.com/assets/357683/10416006/c4d3e484-700b-11e5-95d8-caaac742856d.gif)

[2015-10-11 08:37] #113 closed

[2015-10-11 08:52] bohoomil commented on #113
Changing hinting to `none` isn't a good idea as it affects all the fonts globally. Instead, either modify `90-tt-input.conf` or disable it altogether. This should fix issues with the particular font while leaving others unaffected.

[2015-10-11 09:54] 4e6 commented on #113
I'm a bit confused, I thought that I left autohinting enabled globally with `Xft.hintstyle: hintfull` and disabled autohinting for Input font with `90-tt-input.conf`
[code]

Can you clarify are the following statements correct?
+ Xresources option `Xft.hintstyle` (how aggressively apply hinting) can be applied to both bytecode and autohint hinting
+ By default, autohinting is used if it is not exp

[2015-10-11 09:59] bohoomil commented on #113
Oh... I'm sorry -- I completely misread the [diff](https://github.com/bohoomil/fontconfig-ultimate/issues/113#issuecomment-147172405). Yes, everything is perfectly correct there, hinting is set to `full` and that's what I meant. Sorry again: my bad.

[2015-10-19 11:57] CrisBRM opened #114 "[Not a bug] Regarding my last email"
I talked about changing the weight of fonts globally (or even on a per family basis, that would be ideal), without resorting to emboldening, and here is why:

![Font rendering](https://fuwa.se/4bs1h5.png/tokyo_fontrendering.png)

Notice how light the kanji look compared to the other fonts. They would look much nicer if one were able to increase their weight, and more in line with the English alpha

[2015-10-20 07:25] bohoomil commented on #114
Did you try using preset 4 or 5 instead of 3 in `infinality-settings.sh`?

[code]

[2015-10-20 08:38] CrisBRM commented on #114
I did, but nothing happened, so there might be something odd about my setup.

[2015-10-20 08:45] bohoomil commented on #114
There are two handy debugging oneliners you may want to use:

1. `grep Xft <(xrdb -q)` -- returns your Xft settings.
2. `grep INFINALITY <(env)` -- returns your Infinality configuration.

If you set a different rendering style, it should be reflected in this line:

[code]

[2015-10-20 11:49] CrisBRM commented on #114
http://screenshotcomparison.com/comparison/147611
Both were saved in png, by opening Firefox's commandline (compiled with the system-cairo USE flag) and typing screenshot tokyo_profile$NUMBER.png.

[code]

Profile 3:
[code]

Profile 4 (rebooted, and ran it again manually just to make sure):
[code]

[2015-10-26 07:24] jristz opened #115 "Noto in community"
Resently noto was added to community and it install in  they oun folder usr/share/fonts/noto

considering that you conflict this with any copy is need a new conflict, also the community use a different package (noto-fonts, noto-fonts-cjk, noto-fonts-emoji), it will be good if you coppy the name cheming (ttf-noto-fonts-sans, ttf-noto-fonts-cjk, ttf-noto-fonts-emoji...) to prevent user to isinterpre

[2015-10-28 03:47] bohoomil commented on #115
Thanks for the info and sorry for a late response.

I'm preparing new Noto packages which should resolve the issues.

[2015-10-29 07:04] bohoomil commented on #115
The packages have been upgraded. Please, read [this post](https://plus.google.com/+bohoomil-infinality-bundle/posts/SR1K61viFm6) for details, including upgrade instructions.

[2015-10-29 19:12] jristz commented on #115
'''ttf-noto-serif-multilang-ib: need ttf-noto-serif-ib'''
I can safely '''pacman -Rdd ttf-noto-serif-multilang-ib''' or you gonna do somekind of provides and replaces??

[2015-10-29 21:08] bohoomil commented on #115
Did you read the upgrade notes [here](https://plus.google.com/+bohoomil-infinality-bundle/posts/SR1K61viFm6)? ;-) Yes, you need to remove two packages manually.

[2015-10-31 23:20] alijan92 opened #116 "Preffered Sans/Serif Font"
Hello, bohoomil!

First of all, I want to thank you for your contributing!

I use fontconfig-ultimate with 'free' preset.
When I run 'fc-match sans', the output always will be DejaVu Sans. But, according to '60-latin-free.conf' - the first preferred sans-serif font is Noto Sans (which of course is installed on my system).
That problem also reproduces with serif (it's always DejaVu Serif) but not t

[2015-11-03 13:26] #116 closed

[2015-11-06 10:10] rdoursenaud opened #117 "[Arch Linux] infinality-bundle-fonts-extra can't be installed"
Two conflicting packages are part of the group defeating the purpose of the group.

[code]

[2015-11-06 10:17] bohoomil commented on #117
It has been explained dozens of times: you neither want to or need to install the same family in two contradicting formats. Install either a TT version or the OTF, not both.

[2015-11-07 17:50] DoctorJellyface commented on #117
As it's explained on the [Arch Wiki](https://wiki.archlinux.org/index.php/Infinality#More_fonts), you do **not** want to install the whole bundle, just install `ib-fonts-meta-base` and `ib-fonts-meta-extended`, maybe you'll want even `ib-fonts-meta-extended-lt`, dunno if that installs automatically, it did for me I think.

[2015-11-08 16:46] Firef0x commented on #26
Hi @KenetJervet ,

Sorry for late reply! The mirror provided by @hzy199411 has moved. See https://github.com/ustclug/mirrorrequest/issues/9#issuecomment-145006349 and https://lug.ustc.edu.cn/wiki/mirrors/help/infinality-bundle .

Appreciate USTC LUG!
Yours sincerely!

[2015-11-08 16:51] Firef0x commented on #64
@flamusdiu What are you talking about? No clues. :confused:

[2015-11-09 07:11] #115 closed

[2015-11-09 07:11] #111 closed

[2015-11-09 07:13] bohoomil commented on #98
As far as I can tell, the recent build (2015.11.08) fixes the issues with svg files. Would you mind checking this out on your machine(s)? Thank you in advance.

[2015-11-09 09:58] rdoursenaud commented on #117
OK, my bad. Didn't RTFM enough. Sorry for the noise.

But the group is still misleading since they are designed to be installed all at once…

Anyway, thanks for your great job!

[2015-11-09 09:58] #117 closed

[2015-11-09 20:35] SammysHP commented on #98
freetype2-infinality-ultimate 2.6.1-2

Still the same issue.

[code]

[2015-11-11 10:41] thomas001 opened #118 "Should ttf-dejavu-ib really provide ttf-dejavu"
I think I came up with a very specific issue, which nevertheless causes some archlinux packages (at least one: cups-filters) to build incorrectly: ttf-dejavu-ib provides ttf-dejavu, but does not provide the same files, only the same fonts. Thus, package build scripts which depend on the actual file path of the font files will break (cups-filters uses --with-test-font-path=/usr/share/fonts/TTF/Deja

[2015-11-11 20:33] revengel opened #119 "problems after freetype2 updating"
After installing package freetype2-infinality-ultimate v. 2.6.1-2  my fonts began to look great. (e.g. http://i.imgur.com/oG7X88y.png)

But today this package has been updated to version 2.6.1-3. And the fonts began to look like before (half a year ago)

The configuration files are same (/etc/X11/xinit/xinitrc.d/infinality-settings.sh).

Can I use the beautifull fonts without downgrading to 2.6.1-

[2015-11-16 05:41] bohoomil commented on #118
There are no bugs in the scripts. Let me clarify the background a bit.

We're dealing with two different approaches to font management. On one hand we have Xorg's tradition (the older one) with it's default layout:

[code]

in which the following directories are installed:

[code]

On the other, there is the newer (simpler and more versatile) fontconfig scheme which requires a basic location plus,

[2015-11-16 06:05] bohoomil commented on #119
Oh well... Actually, what you saw was not indented by the designer. Check out Arch Forums for details.

However, if you prefer bolder and fuller-looking fonts, just change the rendering style to 4 or 5 in `infinality-settings.sh`. You can even further tweak it according to your liking (see the [generic infinality-settings.sh](https://github.com/bohoomil/fontconfig-ultimate/blob/master/freetype/gen

[2015-11-17 13:20] AnAkkk commented on #83
@thypon : tried, this doesn't fix it.
@bohoomil : anything new about this?

[2015-11-20 16:47] mviikki16 opened #120 "speed-up and freetype integration"
I have a couple of patches, the minimal set to replace getenv/sscanf type of settings reading and also speed-up some hot areas of the code which I attached (they also include a reversal of commit 75722f89290eb1cb316cd240763545d7277e0481 from 'master' which you might want to ignore).

After wrongly raising the speedup issue on fretype-devel mailing list I found that there is a possibility to finall

[2015-11-21 11:07] goddesse commented on #120
@mviikki16 It might be easier for @bohoomil to integrate if you did a pull request through Github. I can help you with that if you want. If I understand your patch correctly, there's no longer a (user-friendly) way to completely customize the infinality parameters anymore and you just pick a preset?

Perhaps bohoomil could just apply http://lists.nongnu.org/archive/html/freetype-devel/2015-11/txtP

[2015-11-21 12:10] mviikki16 commented on #120
The patch removes the slow parameter settings from within the hot code
areas and places them in a few custom presets. At the moment there's not
even the possibility to pick among these (the PUSH preset is always
taken). However,  I uploaded it only as an idea and it's quite trivial
to extend with similar getenv type of setup or a more freetype agreeable
way as Werner suggests. The settings will th

[2015-11-21 12:49] goddesse commented on #120
Ah, this was mostly a request for comments.

I agree the environment variable reading should go, but even with that change, the main part of the infinality code (stem alignment) wouldn't be suitable to integrate with upstream as it still causes strange crashes upon occasion and has some miscellaneous poor code. I think it might be worth seeing how the experimental warping feature compares, maybe i

[2015-11-21 13:17] mviikki16 commented on #120
Not as much an RFQ but an attempt to make such changes available to whomever finds them useful.

I have used the Infinality patches since ~2013 from http://www.infinality.net originally. While I once had a crash issue with them, since early 2014 I had no more problems while propagating these updates through quite a few freetype releases (at least with the set of fonts I'm using).  The code does ne

[2015-11-21 13:51] mviikki16 commented on #120
Just did a quick comparison also with latest freetype master (ver 2.6.1 d8fc009dbbab054164166b7dd643d5d72c9269c3) and I still see the similar extra clarity and reduction of red fringes I originally saw. Infinality @infinality.net did a *really nice* job even if his coding skills leave room to improvements.

[2015-11-21 14:19] goddesse commented on #120
Absolutely. He's the one responsible for the subpixel rendering code upstream, afterall. I'm just trying to give an honest assessment of the current code. Everyone upstream seems really helpful so if they'll accept the code in their repo once the need for envvars or a filesystem is removed, that's up to them.

[2015-11-22 11:09] devurandom commented on #100
It would be great if fontconfig-ultimate would ship with this included. Then powerline/powerline#1497 would become obsolete.

[2015-11-22 16:00] drenninghoff commented on #70
Hi, over the weekend I packaged bohoomils infinality bundle (including fonts) for Fedora. I plan on keeping it updated, since I'm mainly a Fedora user. Check out my blog post [here](http://danielrenninghoff.com/2015/11/22/infinality-ultimate-bundle-packaged-for-fedora/) for more information and installation instructions. :)

[2015-11-22 23:09] mviikki16 commented on #120
bohomil looks to be off-line these days...

I included more cleanup and speed gains for reading built-in rules. I have now a bit closer view of the code. Indeed, unfortunately it's quite far from the quality required to be integrated upstream... the multitude of options make it a rather difficult to understand mess.

I attached diffs to apply on top of the original Infinality code (clnup) as well

[2015-11-24 22:28] beniked commented on #120
updated openSUSE repos with above patch included, thank you.

http://download.opensuse.org/repositories/home:/nick31:/INFINALITY-ULTIMATE/

[2015-11-25 11:31] mviikki16 commented on #120
You're welcome. There's still work to do to allow the user settings without having to recompile the code but even as such most users might be pleased with the updated font rendering.

[2015-11-25 17:31] thik opened #121 "Different font rending between KDE4 & KDE5 after update freetype to 1.6"
On my system openSUSE Leap 42.1, i installed both konsole(KDE5) and yakuake(KDE4), it's using same shell profile: font: Source Code Pro, size: 11, but font rending is different:
Left: Konsole (bigger and lighter) , right: Yakuake (smaller and bolder)
![](http://i.imgur.com/rBfzoEU.png?1)

Addition, the bold fonts seem bolder and not render normally. Preview on chrome:
![](http://i.imgur.com/hPGQDx

[2015-11-25 22:42] bohoomil commented on #121
The maintainer of the openSUSE packages used a wrong patch. This is not a problem with the official Infinality patchset.

[2015-11-25 22:46] bohoomil commented on #120
Hello and thank you for the feedback. Unfortunately, the new patch has a rather devastating effect on font rendering as it removes important bits of the original code. Please, refer to issue #121 for details.

Of course, it'd be really great if the upstream found a way to integrate more pieces with the official code base.

[2015-11-25 23:05] beniked commented on #121
Updating OpenSUSE packages, wrong patch reverted. Bohoomil goodness only.

[2015-11-25 23:54] mviikki16 commented on #120
Indeed, the patch removes all environment settings and built-in rules are redesigned. However, it shouldn't modify rendering if same settings are applied in the "burned in" database (my system renders the fonts looking same as before but does it much faster).

I wasn't expecting such quick integration into a public release, would be happy to update the code if a clear error is seen although for is

[2015-11-25 23:58] bohoomil commented on #120
Actually, the original built-in rules are crucial for fonts to look as they IMO should...

[2015-11-26 00:06] mviikki16 commented on #120
Built-in rules were redesigned in implementation while keeping their content same as before (as far as no other coding error is there...) However, environment variables are no longer read and the original  "PUSH"  Infinality preset is used (unless other changes were done to the openSUSE integration). If you take a look over the changes you can see what I mean...

[2015-11-26 00:25] bohoomil commented on #120
Unfortunately, I'm not a programmer so please excuse my rather lame remarks: I truly appreciate all efforts put into development of freetype2.

I'm now studying the structure of the new patch and once I'm comfortable with it, I'll try and recreate the original `ultimate` setting in it. If I manage to built a testing package successfully, I'll drop my code here.

[2015-11-26 00:45] mviikki16 commented on #120
I do understand, if you have a source package I'll check it up, anything I can do to help... (I am a programmer but I also do mistakes and this patch can definitely have some).

To add customized settings please check the file src/base/ftinf.h. All the previous environment settings are now elements in structure ftinf_t (the names are a prefix removed lower case version of the original environment

[2015-11-26 00:55] bohoomil commented on #120
Thanks a lot, this is what I've figured out so far. BTW, deprecation of run-time settings in its current form is actually a good step. Still, it'd be nice if we had a similar functionality for those who use their own rendering styles. It's just a suggestion to think about in future releases though.

[2015-11-26 01:12] mviikki16 commented on #120
I agree, the subject of flexible settings was discussed on freetype-devel forum and one reason I didn't rush into providing one was to avoid coding into such early patch something that does not fit well within upstream's view of the configuration API. However, it's not a difficult job reading the original env variables in just one go at library startup. I can add that code and it's only a matter o

[2015-11-26 01:21] goddesse commented on #120
You can use git to clone freetype2's repo, create a separate branch based on master, apply bohoomil's infinality patch to that, then apply your own patches on top of that. You can use a combination of git diff branch1 branch2 or git format-patch to then get a suitable patch to make a pull request from in github.

[2015-11-26 01:30] goddesse commented on #120
Nicholas Waxweiler maintains his own git repo with his darkening patches. You might follow some of his threads on the mailing list to see if his way of using integration branches is helpful to you.

[2015-11-26 01:34] mviikki16 commented on #120
Thanks, I'm already doing that (git clone and all...). What I meant is if I'll keep updating the patches I'll have to always upload a full version of the changes compared with master (or base Infinality) which is doable but requires more work from everybody to keep in sync... on 2nd thought, perhaps no easier way really exists...

[2015-11-26 01:41] goddesse commented on #120
What I mean is there should be nothing stopping you or bohoomil from making a separate repo that's the full freetype2 tree with your changes representing the master branch and people can push their code changes to that instead. Easy patches meant for package providers can still be made from that and uploaded to this repo with no change in process for people that just want to use the patches. Hopef

[2015-11-26 01:50] mviikki16 commented on #120
Yeah, maybe adding these as a new branch here eg under freetype/freetype2 directory with only HEAD of freetype2 master for a start would allow for simpler sync until the code settles to a stable form. After that the branch can be deleted and only the patch itself kept further...

[2015-11-26 03:35] thik commented on #121
Thank @beniked. Bold font is better now, but rending on Konsole and Yakuake is still different.

[2015-11-26 12:06] beniked commented on #121
hmm I wonder if this happens because of qt5/qt4 differences?
are you sure your font settings for kde4/kde5 are exactly the same?
@bohoomil, any ideas?

[2015-11-26 17:03] thik commented on #121
The difference is obvious with some fonts: Source Code Pro, Monaco, some other is not too much.
Preview with Monaco 11:
![](http://i.imgur.com/M5nyN98.png)

[2015-11-26 17:13] beniked commented on #121
could it be that kde4 pulls settings of the same font from different configuration files than kde5?

[2015-11-26 17:34] mviikki16 commented on #120
Here's an update against freetype master with environment variables reading and custom setups. There's also an empty place for the 'ultimate' setting addition. Parameter verifications were also moved into a one-time called function for reading the user settings. Hopefully, this will make your testing easier...

[inf_patch.txt](https://github.com/bohoomil/fontconfig-ultimate/files/45162/inf_patch.t

[2015-11-26 22:42] bohoomil commented on #120
Thank you very much. I've just built and installed a testing package and for the very first time I'm running freetype2-infinality with built-in `ultimate` settings only. So far it feels like you've done an impressive job. Wow. :-)

Let me ask you about two things:

1. How does reading environment variables is supposed to be done properly now? Should I put the old style `infinality-settings.sh` in

[2015-11-26 22:51] bohoomil commented on #121
@beniked & @thik Qt4 and Qt5 behave differently as far as font rendering is concerned. I've never done a side by side comparison of the apps but can see the difference between e.g. VirtualBox and Kid3 for instance. Konsole and Yakuake should IMO look identically as the latter depends on the former. Unfortunately, I've no clue why they actually don't. Being myself, I'd just decrease the font size b

[2015-11-27 12:19] mviikki16 commented on #120
You're welcome. All I've done is change the way settings are processed, the real magic is the original freetype and Infinality updates.

As always, the code itself is the best documentation, please check the function <b>ftinf_env</b> in src/base/ftinf.c

If you update the internal data you can pick a setting by name using the evironment variable  "INFINALITY_FT", e.g. if you set it to "ultimate" t

[2015-11-28 08:10] bohoomil commented on #120
Thank you very much. I generated a new infinality patch set with all ultimate settings and style 3 hard coded as the default one. Switching styles via environmental variables works like a charm, too, so now I'm going to prepare a public release.

[2015-11-28 09:27] mviikki16 commented on #120
Great! Still lots to do to have suitable code for upstream integration but one step at a time...

[2015-11-29 07:28] bjourne opened #122 "Slow font rendering in chrome"
Thanks for maintaining Infinality! I was afraid it would fall by the wayside when the original author gave up maintainership.

That said, there seem to be some issue with Kubuntu 15.10 + Chromium + Infinality. I'm installing the packages from this ppa: https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa With those packages font rendering is very slow in Chromium. There is noticable lag whe

[2015-11-29 07:50] bohoomil commented on #122
Unfortunately, I'm not maintaining packages for Ubuntu so I can't help much here. Here we only report code related issues, not problems with distro-specific releases.

[2015-11-29 08:42] bjourne commented on #122
Then who is doing the Ubuntu packages? Are you from now on supposed to patch and compile freetype and fontconfig yourself?

[2015-11-29 08:45] bjourne commented on #122
And regardless, if infinality slows down font-rendering woudln't that be a code problem and not a packaging issue?

[2015-11-29 09:05] bohoomil commented on #122
1. The info reads: "For questions and bugs with software in this PPA please contact slow." Ergo: please contact slow.
2. Maybe it's not infinality that slows down font rendering but some sort of misconfiguration of your environment? Did anyone else report a similar issue? Apart from it, Ubuntu releases are based on freetype2 v.2.5.2 and a pretty dated version of the infinality patch which is not s

[2015-11-29 10:21] bjourne commented on #122
Wow, no. Your attitude is way to disparaging for me to bother with Infinality bugs.

[2015-11-29 13:20] behdad commented on #122
As a bystander, I want to chip in.  Björne: I don't know what you didn't like about bohoomil's "attitude" but his comment and "attitude" was nothing short of polite and professional.

Maybe you never developed computer code, or maybe you are new to Free Software, but as bohoomil explained, just saying "slows down" is not going to enable upstream developers to be able to do anything for you.  There

[2015-11-29 14:46] revengel commented on #119
Hello. I have finded a decision:
In the 2.6.1-2 version has been included the library
<pre>
/usr/lib/libfreetype.so.6.12.1
</pre>
and its symlinks
<pre>
/usr/lib/libfreetype.so.6
/usr/lib/libfreetype.so
</pre>

Exactly this library gives nice effect like on this screenshot http://i.imgur.com/oG7X88y.png.
So now when I go update your package and see if the fonts do not look as if I wanted I rewrite

[2015-11-29 16:28] mviikki16 commented on #120
An update against recently released freetype 2.6.2 (+ a simplification as lcd filter parameters are now always assumed integers).

[inf_patch.txt](https://github.com/bohoomil/fontconfig-ultimate/files/46663/inf_patch.txt)

[2015-11-29 20:33] beniked commented on #120
openSUSE repo updated once again, thank you.

[2015-11-29 21:58] bjourne commented on #122
@behdad, it shouldn't matter who I am. Treat everyone with respect. If your position is anything other than that people who file bug reports do it to *help the project* then you are wrong.

But I'm not new, I've used Infiniality for 3-4 years, blogged about it, helped others install it and offered to help push it upstream to freetype & fontconfig where it belongs. I have my own projects which I ha

[2015-11-29 22:17] behdad commented on #122
I have no further comments.  Looks like you know how to get people to want to help you.

[2015-11-29 22:32] mviikki16 commented on #120
If you used my version you might have rushed a bit with the update since bohomil keeps the official patch, the one above is missing the 4 of the 5 ultimate styles...

I have now attached one which is updated with bohomil's styles and fixes the default to be ULTIMATE3 when no environment variables are set (if you compare the patches against each other you'll quickly see the changes). This can be di

[2015-11-29 23:09] goddesse commented on #122
@bjourne This is a semi-packaging issue. Bohoomil doesn't support old code that is definitely slow and has other defects and the most recent update has a patch that should greatly improve rendering speed. You could ask slow to backport the most recent changes. slow would need to revert 5d0ca06 and 8b4d4e8 for compatibility with 2.5.2 and also check the default LCD filter parameters and make sure i

[2015-11-29 23:18] bohoomil commented on #120
@mviikki16 Thank you very much. Now I can see what I misunderstood about the newer version of the patch. The update is on the way.

[2015-11-29 23:26] mviikki16 commented on #120
No misunderstanding, your version was also working fine without any evironment variables (to me it looked more clear having all settings at the same place this is why the slight change for the _env update).

[2015-11-29 23:31] bohoomil commented on #120
For some reason now building fails with the following error:

[code]

What can it be?

[2015-11-29 23:41] mviikki16 commented on #120
It builds fine for me... might be the reference used, the patch is against current HEAD of master
f8c20577897d17fb8a62e64fa3bf3ebec0691608

[2015-11-29 23:48] bohoomil commented on #120
Yes, that was exactly it. Sorry for the mess.

[2015-11-29 23:49] mviikki16 commented on #120
No problem, I should have mentioned the exact reference before, good to have this cleared.

[2015-11-29 23:52] bohoomil commented on #120
There's one more little thing I don't really understand what to do with: when I select 'osx' in the 'infinality-settings.sh' the rendering style used is actually 'windowsxp' and vice versa: selecting 'windowsxp' activates visually 'osx'. What can I do to fix it? (The problem was also reported by other users.)

[2015-11-29 23:56] goddesse commented on #120
It's the order they're defined in the large array ftinf_t _inf[INF_LAST]. They're swapped from what the enum says they are.

[2015-11-29 23:58] bohoomil commented on #120
OK, thank you for the hint. I'll edit the patch and test it again.

[2015-11-29 23:59] mviikki16 commented on #120
Indeed, that's an error with enum values ordering

[inf_fix.txt](https://github.com/bohoomil/fontconfig-ultimate/files/46804/inf_fix.txt)

[2015-11-30 00:11] bohoomil commented on #120
Yes, now it seems that everything is working as it should. Some users reported that they see the difference between the previous and the new rendering in a couple of styles. Can it be the upstream's changes to the LCD filtering? I cannot confirm it myself though: the 'ultimate' styles look exactly the same IMO.

[2015-11-30 00:32] mviikki16 commented on #120
I have only looked at the PUSH style that I'm using and that was also identical (to my eyes) to how it looked before. There were also upstream changes (e.g. "Switch off stem darkening by default.") which complicate the picture...

If a user can provide clear case (i.e. a font and size and settings used) would help to spot the difference in implementation. Otherwise, the only way to do a proper com

[2015-11-30 00:35] bohoomil commented on #120
Thank you again for your assistance. It's been _extremely helpful_. Hats off to you!

[2015-11-30 00:45] goddesse commented on #120
If people are complaining about the darkness or lightness of the fonts and they relied on the default value infinality set, that definitely would've changed recently. Please see: http://www.freetype.org/freetype2/docs/reference/ft2-lcd_filtering.html

The first filter is what's internally set by default (for filter lcddefault) in the older infinality patches and that might be what some users who w

[2015-11-30 01:00] bohoomil commented on #120
Thanks a lot. I reposted your response on the Arch's Forums in case people won't read it here.

[2015-11-30 02:40] goddesse opened #123 "In release 2015-11-30, INFINALITY_FT envvar not exported"
I think this should be preceded with export to be properly read by the new code as there's still a getenv to read it, right?

[2015-11-30 02:44] CrisBRM commented on #123
I'm using the git build (today's) and running ```grep INFINALITY <(env)``` works for me.

[2015-11-30 02:46] goddesse commented on #123
Thank you, I'm actually using ZSH.

[2015-11-30 02:47] bohoomil commented on #123
Yes, I didn't include the right file in the repo and in the package. Fixing it.

[2015-11-30 02:48] #123 closed

[2015-11-30 12:11] ismail commented on #120
Thanks for working on this! Greatly appreciated!

[2015-11-30 19:18] mviikki16 commented on #120
@bohoomil  Thanks, you're too kind, I'm also benefiting from the updates :)

I have a new version, unfortunately lots of changes to properly include all the former Infinality styles. There was also, I suspect, a memory leak fixed in src/smooth/ftsmooth.c.

All settings and rules are now in one place, no enums or indexing  required hence no potential errors with misplaced array elements.

The patch

[2015-12-01 04:40] bohoomil commented on #120
Thank you. I'll jump into testing as soon as possible. (Is the patched `gperf` needed for building only or is it required by the package to work properly as well?)

[2015-12-01 13:19] mviikki16 commented on #120
The patch for gperf is only needed if rules or settings are to be added/removed/renamed in the future and it is not needed for this build as the generated files are included and definitely not needed for the package to work as well (freetype+infinality usage has no need of gperf).

[2015-12-02 01:31] bohoomil opened #124 "WebKit browsers (Chromium, Opera) won't use freetype2 run-time settings with the new Infinality patch"
The problem was originally reported by Perfect Gentleman and [SpaceCadet](https://bbs.archlinux.org/viewtopic.php?pid=1582977#p1582977) on Arch Linux forum:

I reproduced the problem and here are the screenshots:

* Chromium + `freetype2-iu`, rev.2.6.2 with the new Infinality patch:

![chromium_ultimate3](https://cloud.githubusercontent.com/assets/421230/11519700/8ffd87ba-989c-11e5-962c-6b310292e2

[2015-12-02 01:40] bohoomil opened #125 "[feature request] Make 'custom' style load an empty template for easier customization"
Originally posted by Ropid on Arch Linux forum:

[2015-12-02 07:44] goddesse commented on #124
@bohoomil and @mviikki16. Looking at the SKIA code, it doesn't call the plain FT_Init_FreeType function, but rather the custom FT_New_Library and then FT_Add_Default_Modules. I wonder if the ennvars were initialized there too with ftinf_env() WebKit would start working with Infinality settings again.

[2015-12-02 10:29] mviikki16 commented on #124
Indeed, <b>ftinf_env must be called</b> for Infinality to be active, a call at the end of FT_New_Library should solve the issue. It  is also possible to update ftinf_env to skip multiple initialisations (in cases where it gets called more than once) but beside the little wasted computation that's far less of a problem than when no call to it is done at all.

[2015-12-02 14:30] Swatinem opened #126 "Some fonts are strangely cut off"
I’m not really sure if this is the right place to report such issues. So sorry in advance if that is the case.

Anyway. Since I updated my arch to `freetype2-infinality-ultimate (2.6.1-3 -> 2.6.2-3)`, some of my fonts in firefox, including the UI fonts are messed up quite bad, see the attached screenshot.

I also updated my firefox, so that might actually be the cause of the problem, since I haven

[2015-12-02 15:02] drenninghoff opened #127 "Some fonts in the bundle are out of date."
* Cantora One has a different version number in it's FONTLOG.txt (1.1 vs yours 1.001)
* t1-cursor-ib is at 1.04 vs your 1.02
* Symbola has v8.0 available (yours is at 7.21)
* Lohit Odia is at 2.91, yours is at 2.5.5
* Lohit Punjabi has been renamed to Lohit Gurmukhi and is at version 2.91
* Merriweather is at 1.4 according to its FONTLOG.txt
* Open Sans is at version 1.10, yours is at 1.2
* Quinte

[2015-12-02 21:02] bohoomil commented on #126
I cannot confirm this:

![firefox-fira](https://cloud.githubusercontent.com/assets/421230/11544010/f3e4a166-993f-11e5-95ae-5bc71978e1ed.png)

Did you try rebuilding the font cache (`fc-cache -fv`)?

[2015-12-02 21:04] bohoomil commented on #127
Thanks for reporting. I'll prepare the updates soon.

[2015-12-02 21:08] Swatinem commented on #126
yes, I did that. I will try with a different firefox version soon to see if that was the problem or not. But strangely, I only have this problem with some fonts on some pages. For example github looks perfect. Its just annoying that the UI is also screwed up in that way.

[2015-12-02 23:36] bohoomil commented on #126
I checked out firefox-nightly 45.0a1.20151105-1 and it's working just fine. Which rendering style are you using? Any of the built-in or a custom one?

[2015-12-03 15:27] mviikki16 commented on #124
Here's a small and quick update to latest patch version (inf_patch_all.txt) to add the reading of settings also from  FT_New_Library and skip multiple calls of ftinf_env.

[inf_upd.txt](https://github.com/bohoomil/fontconfig-ultimate/files/50973/inf_upd.txt)

[2015-12-04 02:26] mviikki16 commented on #124
and this is a bit of cleanup for redundant code.

[inf_clnup.txt](https://github.com/bohoomil/fontconfig-ultimate/files/51595/inf_clnup.txt)

[2015-12-05 08:33] perfect7gentleman commented on #124
how should these patches be applied ?

[2015-12-05 10:42] bohoomil commented on #124
@mviikki16 Thank you very much!

@perfect7gentleman I'll prepare the patches soon, please wait a little bit.

[2015-12-06 03:34] #124 closed

[2015-12-06 07:19] bohoomil commented on #127
A bunch of notes regarding the upgrade:

* Quintessential is still v.1.000 @ Google Fonts and Google fonts repo (this is
where we take it from).
* The version of Cantora One from Google Fonts we are using is 1.001.
* Merriweather is 1.570, not 1.4.
* Lohit Gurmukhi has been in the repo @ the right version since June 2014.
  Punjabi is merely a leftover for those who may want it (it's still in the

[2015-12-06 10:25] drenninghoff commented on #127
Ah ok thank you for your work :).
By the way, the ibfonts-meta-extended meta package still depends in punjabi instead of gurmukhi (that's why I got confused). So maybe you want to change that :).

[2015-12-06 10:31] bohoomil commented on #127
Thanks for the tip -- I haven't looked into it for quite a while. Will fix it soon. ;-)

[2015-12-06 16:37] goddesse commented on #98
@SammysHP Is this still segfaulting as of the 2015-12-05 release?

[2015-12-06 16:43] goddesse commented on #112
@vladimir-didenko The latest release may have fixed this. Would you mind checking with the user?

[2015-12-06 17:05] vladimir-didenko commented on #112
@goddesse  Yes, I will build new package and will ask user to reproduce issue.

[2015-12-06 18:17] SammysHP commented on #98
It works! Thanks.

[2015-12-06 18:17] #98 closed

[2015-12-06 22:09] asoboleski opened #128 "Unresolved dependencies for lib32 freetype 2 ultimate"
Babby's first Arch Linux installation. I believed I've successfully added the bohoomil repositories and key ID. I've installed freetype2-infinality ultimate and was guided to also install lib32-freetype2-infinality-ultimate.

The console spits out some issues with unresolved dependencies that I can't find information on. lib32-zlib, lib32-bzip2, lib32-libpng, and lib32-harfbuzz.
Replying yes or no

[2015-12-06 23:51] dyskette commented on #128
You need to [enable the multilib repo](https://wiki.archlinux.org/index.php/Multilib) in your ArchLinux installation, because you are trying to install a 32bit application as stated in the [skype wiki](https://wiki.archlinux.org/index.php/Skype#Installation).

[2015-12-07 02:58] pedronariyoshi opened #129 "ttf-fira-sans-ibx does not provide ttf-fira-sans"
Hi,
I'm not sure if this is the right to post this, but I'm installing a package that requires ttf-fira-sans, but while the PKGBUILD states that ttf-fira-sans-ibx conflicts with ttf-fira-sans, it does not state that it also provides ttf-fira-sans. I was able to fix my problem ad-hoc, but just wanted to report this here.

[2015-12-07 03:11] bohoomil commented on #129
Hi,

Does `ttf-fira-sans-ibx` have to provide `ttf-fira-sans`? I mean, is `ttf-fira-sans` a dependency for another package like, say, `ttf-dejavu` is? The `provide` array is used mostly in certain cases when package `b` is an equivalent of package `a` which in turn should be substituted with `b` for one reason or another (e.g. `a` is a dependency, `b` provides a better quality font than `a`, etc.)

[2015-12-07 03:17] pedronariyoshi commented on #129
The package is beamer-theme-git, which is on AUR. The theme requires
ttf-fira-sans to work. I don't know if the package is doing anything
non-standard, but to "look right", it does need ttf-fira-sans to be
installed.

I'm actually not sure what the default behavior in these cases should
be. Should the theme package only require fonts as optional deps? Are
there any risks of including "provides" in

[2015-12-07 03:20] bohoomil commented on #129
This is absolutely not a problem for me to add the line: I only wanted to explain my packaging strategy so that you can see some logic behind it. Actually your case is exactly what I was asking about. And sure, I'll rebuild the package soon.

[2015-12-07 03:21] pedronariyoshi commented on #129
Thanks! (;

On Sun, Dec 6, 2015 at 10:20 PM, bohoomil <notifications@github.com>
wrote:

[2015-12-07 03:38] #129 closed

[2015-12-07 15:12] aejsmith opened #130 "Add option to re-enable stem darkening"
I've found that the differences with FreeType 2.6.2 I was complaining about [here](https://bbs.archlinux.org/viewtopic.php?pid=1582344#p1582344) were caused by the [change upstream](http://git.savannah.gnu.org/cgit/freetype/freetype2.git/commit/?id=75722f89290eb1cb316cd240763545d7277e0481) that disables stem darkening by default.

I've written [a patch](https://github.com/bohoomil/fontconfig-ultim

[2015-12-07 15:59] aejsmith commented on #130
Here's a newer version of the patch: [stem-darkening.txt](https://github.com/bohoomil/fontconfig-ultimate/files/54153/stem-darkening.txt)

Turns out that the stem darkening in the autofit module was added in 2.6.2, only the CFF module had it previously. The results produced by the autofit stem darkening look **way** too bold, so in the new version I've separated the options out into INFINALITY_FT_

[2015-12-07 16:00] CrisBRM commented on #130
@aejsmith Can you show screenshots of the results produced by the autofit stem darkening and the new ones? Curious now.

[2015-12-08 02:40] bohoomil commented on #130
@aejsmith Thank you for the contribution. I believe @mviikki16 or @goddesse will kindly look into it and discuss the matter with you much better than I could. Besides, @mviikki16 has been working a lot with Infinality recently so I wouldn't like to get in the way and mess with the code without his knowledge. ;-)

[2015-12-08 04:23] mviikki16 commented on #130
@bohoomil The official code is on your hands so it's entirely up to you what goes in or out of it :-)

Initially I was also leaning on reverting the stem darkening upstream change and my old patch did just that. However, with old stem darkening <b>i</b> turned into <b>l</b> and I decided to follow upstream as I got used with the less contrasty but more accurate rendering.

I had a glance over the

[2015-12-08 04:25] goddesse commented on #130
The patch looks logically correct and I've tested it and it properly does what it says without interfering with the default behavior for those who don't want stem darkening. It's small and unobtrusive enough that it will be easy to massage into working with future upstream changes to stem darkening whether it's a module option or what.

I would also recommend a patch to infinality_setting.sh with

[2015-12-08 04:28] bohoomil commented on #130
Thank you @mviikki16 and @goddesse. I'll update the package and change `infinality-settings.sh` appropriately (I was going to do this anyway).

[2015-12-08 04:35] mviikki16 commented on #130
Just one pedantic notice/suggestion/question:
The options in the ftinf_t structure were in alphabetical order, wouldn't it be nicer to have the new options fit the same pattern and maybe be renamed as stem_darkening_{autofit,cff} to be adjacent to each other. I know, this requires a bit of updating...

[2015-12-08 04:44] bohoomil commented on #130
You mean like this:

[code]

If so, I'll do this, no problem.

[2015-12-08 04:46] mviikki16 commented on #130
<tt>
diff --git a/src/base/ftinf.h b/src/base/ftinf.h
index 384ed90..fbe1bd1 100644
--- a/src/base/ftinf.h
+++ b/src/base/ftinf.h
@@ -42,13 +42,13 @@ typedef struct ftinf_s {
     int global_embolden_y_value;
     int grayscale_filter_strength;
     int stem_alignment_strength;
+    int stem_darkening_autofit;
+    int stem_darkening_cff;
     int stem_fitting_strength;
     int stem_snapping_slid

[2015-12-08 04:47] bohoomil commented on #130
OK, I'll do my best. Thank you!

[2015-12-08 04:53] mviikki16 commented on #130
Hmm, I couldn't update my comment to properly display the code so it's attached (but you got the idea the 1st time)

[ftinf.txt](https://github.com/bohoomil/fontconfig-ultimate/files/54950/ftinf.txt)

If you need help I can also do it although my target was @aejsmith, the original creator.

[2015-12-08 04:57] bohoomil commented on #130
That's OK, I got the properly formatted in the mail. @aejsmith will certainly help if necessary, I believe. ;-)

[2015-12-08 05:04] goddesse commented on #125
@mviikki16 Because by default, the infinality parameters are semantically turned off, it should be sufficient to remove everything under "custom"'s (similar to disabled) template in ftinf_sh.gperf and regenerate the C file with with the patched gperf 3.0.4 to achieve this right?

[2015-12-08 05:26] mviikki16 commented on #125
"custom" was originally intended to hold ideal values for users building the code themselves and avoid evironment "pollution". If you use the environment it does not matter what  INFINALITY_FT is pointing at (if it points to an invalid location then "ultimate3" will set the defaults).

Indeed, the values not explicitly mentioned default to '0' (for all structure members) but I don't see much point

[2015-12-08 10:07] aejsmith commented on #130
Updated patch with the reordered/renamed settings: [stem-darkening.txt](https://github.com/bohoomil/fontconfig-ultimate/files/55233/stem-darkening.txt)

@CrisBRM The screenshots I posted on the Arch forums show the difference for CFF stem darkening, [with](http://i.imgur.com/KLyTjli.png) and [without](http://i.imgur.com/wOMh4xb.png). For the autofit stem darkening, here's some screenshots [with](h

[2015-12-08 10:28] madig commented on #120
Hi guys! I'm interested in integrating Infinality's autohinter improvements and improving the v38 TT interpreter and was directed here. I skimmed the rest of the FT patch in fontconfig-ultimate and found mostly post-processing of Bitmaps which I'm less interested in, I think a few things like gamma correction are misguided hacks. Real rendering quality will only be achieved through linear alpha bl

[2015-12-08 10:40] madig commented on #120
By the way mviikki16, I personally used a "dirty" development branch of freetype master, constantly rebasing against master and rewriting history (my patches) to publish a patch series. Maybe there are easier ways of maintaining patch series. For local development it's good. If you want to

http://code.tutsplus.com/tutorials/rewriting-history-with-git-rebase--cms-23191

[2015-12-08 12:43] perfect7gentleman commented on #130
@aejsmith,
I've applied your patch. How can these setting be changed ?

[2015-12-08 13:03] aejsmith commented on #130
@perfect7gentleman Using the INFINALITY_FT_STEM_DARKENING_AUTOFIT and INFINALITY_FT_STEM_DARKENING_CFF environment variables, set them as you would any other Infinality environment variables. They default to false which is the upstream behaviour, set them to true to enable them.

[2015-12-08 15:18] perfect7gentleman commented on #130
i.e. export INFINALITY_FT_STEM_DARKENING_AUTOFIT=true ?

[2015-12-08 15:31] mviikki16 commented on #120
@madig Thanks for the info, that's the the easiest way and what I'm also doing.  Earlier I mostly wanted to find a better way to maintain the changes and not have to upload all of the diffs with master but maybe just keep updating a dedicated github branch...

Anyway, now that the changes are fully integrated I can send any further updates against the infinality branch itself which are way smaller

[2015-12-08 18:51] mviikki16 commented on #130
@perfect7gentleman Yes, you can use any of: 1, on, true, yes (in case independent manner)

Nice for infinality to have so much flexibility with settings. It clearly has potential to address anybody's preferences and, in my testing, it's a significant step up to vanilla freetype. However, there's still room to grow. To my eyes, the gold standard looks to be how Acrobat Reader renders fonts i.e. Coo

[2015-12-09 12:07] perfect7gentleman commented on #130
with INFINALITY_FT_STEM_DARKENING_AUTOFIT=true fonts are some kind of blurred

[2015-12-10 11:09] CrisBRM commented on #130
@perfect7gentleman You can try INFINALITY_FT_STEM_DARKENING_CFF=true as well. If you don't like either, don't use them. That's why modularity is so good :]

[2015-12-10 22:33] madig commented on #130
@mviikki16 I don't think you can match or exceed what Adobe is doing until 1. Linear alpha blending and gamma correction (critical for minimizing color fringes) 2. Stem darkening for everything, even TrueType fonts.

[2015-12-10 22:37] madig commented on #120
So I played around with the autohinter changes (03-infinality-2.6.2-2015.12.05.patch -> changes to aflatin.*) some more and see no difference at all to vanilla. What am I missing?

Oh, and https://github.com/bohoomil/fontconfig-ultimate/blob/master/freetype/03-infinality-2.6.2-2015.12.05.patch#L351 and the following lines are a no-op?

[2015-12-11 02:55] perfect7gentleman commented on #130
Can be NFINALITY_FT_STEM_DARKENING_CFF=true the reason that text fonts in LibreOffice look awful, but in OpenOffice they are okay ?

[2015-12-11 04:31] mviikki16 commented on #130
@madig Matching Adobe's rendering would be already enough...1 can be a reason but not so sure about 2.  Infinality is not that far off for TrueType fonts, not that much of a difference... However, Type 1 of which pdf have plenty of embedded fonts is atrociously bad, especially at small sizes...

[2015-12-11 07:20] madig commented on #130
@mviikki16 2 is needed if you do 1, Adobe is doing it. alankila wrote a proof-of-concept hack for cairo's pixman, I updated it to work with 0.32.6 and possibly above: https://gist.github.com/madig/c7dca1e242ade375856e

Recompile pixman with it and do:
[code]
in the terminal. This will trigger software rendering in apps using cairo (e.g. all GNOME3 apps). The result is something approximating linea

[2015-12-11 10:27] mviikki16 commented on #130
@madig Thanks! Did a test and there are differences as seen in the images attached. <b>pix</b> denotes the patched pixman and the setup you described, <b>sdcff0/1</b> is for INFINALITY_FT_STEM_DARKENING_CFF off or on while <b>adobe</b> is Adobe's rendering in Acrobat.

sdcff1 does the trick for reducing the color fringes while pix helps offset somewhat to too harsh contrast.
![snap_adobe](https://

[2015-12-11 11:09] CrisBRM commented on #130
![acrobat vs okular](https://cloud.githubusercontent.com/assets/9098352/11742375/5a018e24-9ff7-11e5-877c-460dc7ebe335.png)

To be fair, both could do better.

[2015-12-11 11:44] mviikki16 commented on #130
@CrisBRM For this comparison okular wouldn't be so far off but you need a patched poppler to enable cairo backend e.g. https://github.com/giddie/poppler-qt4-cairo-backend. Acrobat can't do wonders with dpi limits though...

[2015-12-11 12:40] CrisBRM commented on #130
@mviikki16 it was emerged with the Cairo use flag. Is that not enough? What do you mean by the DPI limits? (Since everything is DPI bound anyway)

[2015-12-11 13:35] mviikki16 commented on #130
@CrisBRM It is obvious from the image that okular has no subpixel anti-aliasing enabled. Poppler does not do that by default, you must patch it and then check again.

With dpi limits I meant that there's only that much you can do. As you wrote, everything is limited by it and at ~100 dpi for you screen (assuming it's like mine) you can't expect miracles. Adobe's CoolType does a good job at it, for

[2015-12-11 14:46] madig commented on #130
Which LCD filter did you use? It must be normalized and color-balanced. Try the default or light one.

[2015-12-11 19:26] mviikki16 commented on #130
@madig Good you mentioned! I thought I've used the "push" default one, color-balanced but not normalized. I've tried changing the filter with the environment variable and I got identical rendering, even a filter like "100 100 100 100 100" while it messes up UI fonts the pdf renders the same. Clearly, at some level a custom filter is set overriding Infinality's filter settings. This requires  some

[2015-12-11 21:07] madig commented on #120
I figured it out, accidentally set something zero. I find the results somewhat underwhelming, I only noticed significant differences in a few fonts at specific sizes (Ubuntu-R > 14 ppem or something, some smaller sizes of Liberation Sans, Roboto Thin something). Roboto Thin had vanishing horizontal stems with strength set to 25. Not sure I understand the exact purpose of this part of Infinality, b

[2015-12-11 21:26] goddesse commented on #120
I was under the impression that the highest impact changes Infinality had made to the true type interpreter and autohinter for Cleartype are already merged upstream as part of the subpixel patch around 2013. The things that are left are (by his own comments) alpha quality stuff he was still working on making work universally well. Most of the visual changes are done by the bitmap post-processing c

[2015-12-11 21:40] madig commented on #120
Ah, I made an oops. Strength should be set to 100. Okay, it does make a difference, but results depend heavily of the font.

@goddesse Hm, okay, that could be. I was told that he lost interest in integrating his work further, so I was looking for things to salvage. What autohinter for ClearType do you mean? I only know of his work on the TrueType interpreter. Yes, LAB+GC must be done outside FreeT

[2015-12-11 22:09] goddesse commented on #120
There's not a special, separate autohinter, but I mean I think he was working on custom rules for how Cleartype fonts should be hinted to work around not having diagonal hints or something to that effect. I think changing a glyph's x-height is already a library property upstream, but I'm not sure what other changes are of interest. There's not emboldening in the x-direction that might be a useful

[2015-12-12 17:36] mviikki16 commented on #130
Cairo as used by poppler will default to FT_LCD_FILTER_LEGACY and this causes most problems. When forcing it to use FT_LCD_FILTER_DEFAULT the results are much better

<b>sdcff0</b>
![snap_sdcff0_upd](https://cloud.githubusercontent.com/assets/15945536/11763105/8d208ac0-a106-11e5-9148-04a3b7b5fc49.png)
<b>sdcff1</b>
![snap_sdcff1_upd](https://cloud.githubusercontent.com/assets/15945536/11763106/94a

[2015-12-12 17:47] mviikki16 commented on #130
As clarification, FT_LCD_FILTER_DEFAULT from above is not freetype's built-in default but, finally, it is allowing the custom Infinality preset version (8, 24, 56, 24, 8 as used above) to be enabled. When any other filter options are selected then the Infinality filter is ignored.

[2015-12-12 19:47] mviikki16 commented on #130
I attached an update fixing this Cairo issue by ignoring the legacy requests and using the default filter instead. A light filter option is also included. No built-in setting uses it but can be set from environment.

Speaking of environment, in my testing I found rather cumbersome the INFINALITY_FT prefix and replaced it with FT as the names are long enough anyway...
The active/default built-in se

[2015-12-20 10:56] Swatinem commented on #126
Sorry for the long delay.
As far as I can remember, I have only set the hinting somewhere in `/etc/fonts` but I can’t remember as that was more than 2 years ago.

I have tried downgrading the freetype lib and it fixed the main problem of cut-off fonts, but other problems did remain.

I also noticed that here on github the hinting is wrong in some cases, see the screenshot:
![bildschirmfoto vom 201

[2015-12-21 15:25] Swatinem commented on #126
Seems like this really was a problem with firefox, or more specifically me using an unsupported/unstable setting.

Here is the bug, just for reference: https://bugzilla.mozilla.org/show_bug.cgi?id=1208644

sorry for the inconvenience, and thanks for the help :-)

[2015-12-21 15:25] #126 closed

[2015-12-28 11:16] d125q commented on #127
Another one outdated one is Iosevka: https://be5invis.github.io/Iosevka/

[2016-01-06 23:36] courtyardz opened #131 "Missing /usr/share/doc/fontconfig-infinality-ultimate-git"
Does the below paragraph need to be updated? I can't use pre-compiled versions, because I run Arch's armv7h port. After a successful `pkgbuild` (automated with yaourt) I can't find the below file to replace the non-bundle `infinity-settins.sh`

*II. If you still prefer or have to go the generic way, i.e. install freetype2-infinality from the AUR, you can use fontconfig-infinality-ultimate-git and

[2016-01-13 14:48] LQYMGT commented on #99
As this [page](https://www.google.com/get/noto/help/guidelines/) said, we can have different default languages.

Maybe this can help?

[2016-01-22 12:39] RJVB opened #132 "About xft-settings.sh"
Does xft-settings.sh in its current version actually change anything to the fontconfig defaults? If it does, I'd suggest aligning with the current freetype-infinality approach, in which the "optimal" settings are provided as hardcoded defaults so that users aren't required to call any configuration scripts.

[2016-02-04 14:05] veluria commented on #106
Same again. :)

[2016-02-05 23:36] hpdeifel opened #133 "Crash in freetype with certain poppler-qt usage"
Rendering a specific PDF using poppler-qt4 with certain hinting settings, freetype crashes in `af_latin_compute_stem_width`, in `src/autofit/aflatin.c:2256` because it tries to call strstr on `metrics->root.scaler.face->style_name`, which is `NULL` in this case.

This only happens with the infinality patches, not with vanilla freetype. We were able to extract a minimal example to reproduce this bu

[2016-02-08 11:10] CrisBRM commented on #130
What's the status on this?

[2016-02-09 10:38] Mikaela opened #134 "[Arch] infinality-bundle-fonts has conflicting depedencies"
[code]

If this is intended, where can I find instructions for installing the fonts selecting which of those I want?

[2016-02-10 03:14] itzexor commented on #134
The docs are here http://bohoomil.com/doc/05-fonts/

[2016-02-10 06:45] Mikaela commented on #134
It seems that this package group is not docunented on that page or has different name as CTRL+F is unable to find it.

[2016-02-11 19:01] adgoudz commented on #100
I keep checking this thread for updates, hoping that @bohoomil would appease the Powerline community. My setup looks just like @devurandom:

![image](https://cloud.githubusercontent.com/assets/1766968/12986534/c56dd52e-d0c5-11e5-8882-13831debb286.png)

I think fixing this is simply a matter of rendering the Powerline glyphs in a way that's compatible with the mono fonts in this repo. There is a he

[2016-02-12 12:10] Mikaela commented on #134
Apparently I cannot read and pacman probably thought I wanted to install everything in the repo or something like that.

[2016-02-12 12:10] #134 closed

[2016-02-15 16:30] inglor opened #137 "[Arch] provide build instructions for packages"
Hello,

The project webpage has a [Documentation] page on which the Building and Installing instructions are not covered. The [building] url is not really referenced anywhere. Ultimately looking for the PKGBUILD as I couldn't find it in AUR.

Thanks

[Documentation]: http://bohoomil.com/doc/
[building]: http://bohoomil.com/doc/02-building/

[2016-02-15 16:57] perfect7gentleman commented on #137
you can find them here, right in this repo

[2016-02-22 15:12] mviikki16 opened #138 "crash with certain (buggy?) fonts"
Some fonts seem to be lacking the **style_name** property which causes a crash in **af_latin_compute_stem_width** function with infinality updates.

This is fixed with the patch below (applied on top of a5952d3049ff880bb8eea94f045b32575e59b58f from master with merged infinality but it's small enough to work at any level).

However, there might be other unchecked uses of **strstr**, no time to inve

[2016-02-22 15:17] mviikki16 commented on #133
I saw this after opening issue 43... please apply the patch from there, it should take care of this problem.

[2016-02-23 13:11] Mikaela commented on #94
This seems to still be an issue, but now there is also LetsEncrypt which can automatically configure Apache.

* https://www.digitalocean.com/community/tutorials/how-to-secure-apache-with-let-s-encrypt-on-ubuntu-14-04

[2016-03-04 09:06] kokoko3k opened #139 "fontconfig ultimate slows down programs startup"
Sorry to not have submitted here in first place.
A detailed description of the issue is available here:
https://bbs.archlinux.org/viewtopic.php?id=209687

[2016-03-06 08:49] kokoko3k commented on #139
Seems "upstream" git is affected too.
2.11.1 is fine 2.11.94 is not; and depsite the package i installed is named:
infinality-bundle/fontconfig-infinality-ultimate 2.11.1-30
it is indeed based on the 2.11.94 git version.

[2016-03-12 11:43] SammysHP opened #140 "DejaVu Sans Mono with ripples"
Using underscores or other touching lines with DejaVu Sans Mono from ttf-dejavu-ib create small ripples on the connections, for example here: http://wttr.in/ (if you use DejaVu Sans Mono). I'm using the ms preset.

![20160312_124305](https://cloud.githubusercontent.com/assets/922874/13722765/07f08b2a-e850-11e5-8ecf-f1577b7a63ab.png)

[2016-03-23 20:32] CrisBRM commented on #130
@mviikki16 What cairo method call did you use to call LCD_FILTER_DEFAULT and LCD_FILTER_LIGHT? Did you patch Cairo yourself or is there something other than the now deprecated ```cairo_font_options_set_lcd_filter()```?

[2016-03-23 21:17] mviikki16 commented on #130
I did not modify cairo calls, the update is as described and included in the patch above, legacy filter settings are ignored being replaced with the default ones (when infinality patch is selected). You can see the specific change at the end of inf_update.txt (@@ -381,8 +405,14 @@).

[2016-03-25 12:45] rumpelsepp opened #141 "Use pacman hooks"
Since pacman 5 supports hooks, all the package scripts can be simplified.

[2016-03-25 12:46] rumpelsepp opened #142 "Packages out of date"
[code]

* https://github.com/GNOME/cantarell-fonts

[2016-03-25 14:40] CrisBRM opened #143 "Add Cairo patch to make FT_LCD_FILTER_DEFAULT the actual default lcdfilter"
https://github.com/CrisBRM/fontconfig-ultimate/blob/master/cairo/cairo-lcdfilter-make-default-default.patch

FT_LCD_FILTER_LEGACY is completely useless and introduces excessive colour fringes.

[2016-03-29 01:30] bohoomil commented on #143
Thanks -- done.

[2016-03-29 01:31] #143 closed

[2016-03-29 05:17] bohoomil commented on #142
Done. The rest is coming soon.

Thanks for reporting.

[2016-03-29 05:18] bohoomil commented on #141
Thanks, I'll look into it.

[2016-03-29 05:21] bohoomil commented on #140
Could you check this out with the updated libs? As far as I can tell, some fonts look this way and Infinality has nothing to do with it. (BTW, I don't have a clue why this might be happening.)

[2016-03-29 05:21] bohoomil commented on #130
The functionality is available in the recent upgrade.

[2016-03-29 14:03] aejsmith commented on #130
@bohoomil Thanks, looks good!

[2016-03-29 14:03] #130 closed

[2016-03-29 14:21] SammysHP commented on #140
This is much better now, thanks!
![20160329_162057](https://cloud.githubusercontent.com/assets/922874/14111256/50dcbc14-f5ca-11e5-87ce-5372ad389e84.png)

[2016-03-29 14:21] #140 closed

[2016-03-29 23:48] bohoomil commented on #106
Done.  :)

[2016-03-29 23:52] veluria commented on #106
Thanks!

[2016-03-29 23:54] bohoomil commented on #137
@inglor Please, check out the `pkgbuild` branch: you'll find each and every build script there.

[2016-03-30 00:03] bohoomil commented on #132
We are using the Xft settings file because certain apps simply use these variables. They cannot be hard-coded because originally they belong neither to `freetype-infinality` nor `fontconfig`.

[2016-03-30 04:37] #133 closed

[2016-03-30 04:48] bohoomil commented on #138
Done. Thank you very much for the patch!

[2016-03-30 04:48] #138 closed

[2016-03-30 07:05] RJVB commented on #132
Sorry, I don't get it. What (kind of) apps are we talking about, and what do they do with those variables?
As to hardcoding default values: those variables have to be used in fontconfig and/or freetype source code, right? If they can be set to sensible, global defaults in a script, why would it be impossible or wrong to use that default in the code for (env.) variables that are not defined because

[2016-03-30 07:16] bohoomil commented on #132
Apps depending on `libxft` and variables set via `.Xresources`, which basically means Gtk+ and stuff (Firefox for example).

Nope. Again, it's `libxft` that's responsible for rendering parameters. See `man Xft` for more info.

[2016-03-30 13:40] mattia-b89 opened #144 "can't upgrade to your java packages"
Hi fellows,
currently I've installed official java packages, from extra repository:
[code]

I'd like to switch to infinality patched ones but I can't due to:
[code]

[2016-03-30 18:04] str50 opened #145 "support for phase-specific user config?"
Hi,

I am using the package on Arch and I noticed in the config there is 28-user.conf and 50-user.conf and it seems they both include the same user config files in xdg paths. Could we have them include different user configs so that user overrides could be specified to phases?

Think of this case:
in 49-sansserif.conf you are adding "sans-serif" to the family name if no generic name is provided in

[2016-03-30 20:41] bohoomil commented on #144
For example:

[code]

[2016-03-30 21:19] bohoomil commented on #145
We don't use `50-user.conf` in `fontconfig-ib`.

[2016-03-31 09:38] mattia-b89 commented on #144
I don't want to force a package substitution!
I think issue is another: `jdk8-openjdk` depends on `jre8-openjdk=8.u77-1` while `jre8-openjdk-infinality` doesn't provide it...

[2016-03-31 18:02] pit65 opened #146 "Xorg not working"
Slackware current.

After aplying patchset I have got 32MB Xorg.0.log with this:

959.190] (II) GetModeLine - scrn: 0 clock: 135000
[   959.190] (II) GetModeLine - hdsp: 1280 hbeg: 1328 hend: 1440 httl: 1688
[   959.190] (II)               vdsp: 1024 vbeg: 1025 vend: 1028 vttl: 1066 flags: 5

Xorg not work.

[2016-03-31 18:04] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:04] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:05] pit65 commented on #146
Only freetype patchset.

[2016-03-31 18:30] onodera-punpun commented on #146
W-what did you do to my github timeline: https://sr.ht/YalA.png

[2016-03-31 18:38] pit65 commented on #146
Sory I'm not familiar with github, but I delated may excess comments.

[2016-04-01 01:08] pedronariyoshi opened #147 "ttf-fira-mono-ibx does not provide ttf-fira-mono"
Hi Bohoomil,
This issue is similar to #129 , but for fira-mono instead. Could you change that on the repo?
Thank you (;

[2016-04-01 02:02] kalentia opened #148 "New version of infinality causes black screen in certain applications"
Installing cairo-infinallity-ultimate 1.14.6-1, fontconfig-infinality-ultimate 2.11.94-1, or freetype2-infinality-ultimate 2.6.3-2 causes a black screen when joining servers in the aur package [discord](https://aur.archlinux.org/packages/discord/). The versions I have installed - cairo-infinality-ultimate 1.14.4-1, fontconfig-infinality-ultimate 2.11.1-30, and freetype2-infinality-ultimate 2.6.2-4

[2016-04-02 06:41] bohoomil commented on #148
Thanks for the info. Infinality patch has been basically the same since the previous release. Only two extras were added -- see #133 and #130 for details. Patching against `freetype2` 2.6.3 was clean and resulted in no build errors. I think we will leave the report open and see what others may want to say.

[2016-04-02 06:43] bohoomil commented on #147
Thanks for reporting. I will update the packages once I'm back in Linux. ;-)

[2016-04-02 06:47] bohoomil commented on #146
Sorry, I have nothing to do with Xorg, especially on Slackware. Please, ask your community for assistance.

[2016-04-02 06:47] #146 closed

[2016-04-02 06:48] bohoomil commented on #144
I will look into PKGBUILDs, but the binaries will not be updated soon. For the time being, please replace the packages if you are going to use them.

[2016-04-03 18:18] fisco commented on #148
I think there might be a problem with  freetype2-infinality-ultimate 2.6.3-2 and Electron. I'm getting core dumps when trying to run atom-beta and from the dump I'm seeing problems in libfreetype.so.6

[2016-04-03 21:04] jristz commented on #141
https://github.com/andrewgregory/pachooks

that repo have many examples of hooks, including hooks/fc-cache.hook with an example on how font hook.

[2016-04-03 21:06] rumpelsepp commented on #141
I guess the arch devs will provide such a font hook anyway. bohoomil might only remove the install scripts from the packages when the hook is there.

[2016-04-03 21:14] jristz commented on #141
But boohomil install the fonts in a diferent directory than the default one, so then the fonts either should be moved to the default or ensure that the hook that finally land look for bohoo fonts directories.

[2016-04-03 21:35] rumpelsepp commented on #141
Ahh. Got it. :-)

On April 3, 2016 11:14:45 PM GMT+02:00, " Pablo Lezaeta Reyes [pˈaβ̞lo lˌe̞θaˈeta rˈejɛ]" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-04-03 21:50] bohoomil commented on #148
Thanks @fisco.

[2016-04-03 21:52] bohoomil commented on #141
Thanks for the hints guys.

[2016-04-04 22:58] goddesse commented on #148
Please see: https://github.com/electron/electron/issues/4513 and https://github.com/atom/atom/issues/11198

I don't think is an Infinality issue.

[2016-04-05 00:49] fisco commented on #148
OK, I can confirm that downgrading to freetype2-infinality-ultimate-2.6.2-4 (x86_64) on Arch fixes the problem.

[2016-04-05 07:55] bohoomil commented on #148
So I guess we will be waiting for the `freetype` devs' response.

[2016-04-06 13:18] cynecx commented on #139
Hey,

It seems that the commit which caused this issue has been reverted:
https://cgit.freedesktop.org/fontconfig/commit/?id=d179cbc2536af16cf0f4992e0a4b2d751437ee6c

So upstream git should be fixed.

[2016-04-07 02:28] bohoomil commented on #139
I hope I will be able to update `fontconfig-iu` this weekend. Thanks for reporting and the link.

[2016-04-10 02:53] #142 closed

[2016-04-10 03:45] #139 closed

[2016-04-10 05:07] bohoomil commented on #147
Both Fira families were upgraded and the missing feature was added.

[2016-04-10 05:07] #147 closed

[2016-04-10 05:07] bohoomil commented on #141
I added a hook to the new release of `fontconfig-iu` (see `/etc/pacman.d/hooks/`). As far as I can tell, it does the job as expected. Please, test it on your own and leave a comment in case you have a suggestion.

[2016-04-10 06:56] rumpelsepp commented on #141
I am currently just on my mobile phone, will test it later. But there is one nit pick: packages should not contain files in /etc. Just use the higher priority directory in /usr . I cannot find it in the documentation ATM, but I will search it later today. The reason for that is, packagers but files in /usr, the admin can overwrite them locally in /etc.

[2016-04-10 08:44] bohoomil commented on #141
@rumpelsepp -- thank you very much. My bad, I forgot about it. The update is already in the repo with the hook installing to `/usr/share/libalpm/hooks` as `90-fc-cache-ib.hook`.

[2016-04-10 09:07] rumpelsepp commented on #141
:+1: Seems to work for me. Thanks! :)

[2016-04-10 09:07] #141 closed

[2016-04-10 10:27] d125q commented on #127
The [Noto](https://github.com/googlei18n/noto-fonts) fonts are also outdated.

[2016-04-10 10:32] bohoomil commented on #127
@d125q, thanks for the info. I'll update the packages soon.

[2016-04-13 13:36] philbyjohn commented on #70
@drenninghoff It would be extremely useful if you could do the same for FC 22, great many users will be benefited.

[2016-04-14 06:30] jristz opened #150 "conflict"
error: can't finish (file conflict)
ttf-libre-bodoni-ibx: /etc/fonts/conf.avail/45-libre-bodoni.conf exist
ttf-libre-bodoni-ibx: /etc/fonts/conf.d/45-libre-bodoni.conf exist
errors hapend, no continue
$ pacman -Qo /etc/fonts/conf.d/45-libre-bodoni.conf
/etc/fonts/conf.d/45-libre-bodoni.conf owned by otf-libre-bodoni-ibx 1.001-1
$ pacman -Qo /etc/fonts/conf.avail/45-libre-bodoni.conf
/etc/fonts/con

[2016-04-14 11:12] bohoomil commented on #150
Because I screw the `conflicts` array. I'll update the packages. Thanks for reporting.

[2016-04-14 11:21] #150 closed

[2016-04-16 12:03] BubuXP opened #151 "custom_postjob() in fc-presets"
I'm trying to package infinality-ultimate for Debian. I don't understand well code in general, but while checking it I found the following in fc-presets.

row 196 is
`        ln -s ../conf.avail.infinality/35-repl-custom.conf . 2>/dev/null`
shouldn't it be
`        ln -s $presets_dir/35-repl-custom.conf $config_dir 2>/dev/null`

and also row 192
` if [[ $check_current == *combi* ]] && [[ -f ./35-r

[2016-04-16 12:40] bohoomil commented on #151
Yes, there should be variables. Thanks for taking your time and tracking it down.

[2016-04-16 12:45] #151 closed

[2016-04-16 13:04] BubuXP commented on #151
Very fast response, thank you.
But maybe you forgot something. It's now:
`ln -s $presets_dir/35-repl-custom.conf . 2>/dev/null`
but it should be:
`ln -s $presets_dir/35-repl-custom.conf $config_dir 2>/dev/null`
right?

[2016-04-16 13:14] bohoomil commented on #151
Probably like this would be better:

`ln -s $presets_dir/35-repl-custom.conf $config_dir/35-repl-custom.conf 2>/dev/null`

[2016-04-17 15:55] BubuXP commented on #151
I didn't answer because it was ok, but it works even without repeating the file name, as the link will retain the same name.

I found another row (180) with a similar syntax. It's:
`ln -sf $target .`
better:
`ln -sf $target $config_dir`

[2016-04-18 02:14] bohoomil commented on #151
Thanks for the feedback. I'm not on Linux right now but as soon as I'm, I'll fix the line.

[2016-04-19 01:18] jristz opened #152 "stlarch-font-ibx point to wrong file"
the postinstall install file say that you need read /usr/share/doc/stlarch_font wich is incorrect in the stlarch-font-ibx variant, it should say that for more info read /usr/share/doc/stlarch-font-ibx/README.stlarch

also, the install file with fc-cache command is still need now that you use a hook?

[2016-04-19 03:21] bohoomil commented on #152
First of all, do we still have to keep the bitmap fonts in the repository? I remember these few packages were only to be added temporarily (I can't really recall what was the actual objective behind it: probably some ancient `fontconfig` issue that required an instant workaround). As such, bitmap fonts is something we should have dropped already: this is a deprecated format used by Xorg where scal

[2016-04-19 19:20] jristz commented on #152
El abr 19, 2016 12:21 AM, "bohoomil" <notifications@github.com> escribió:

repository? I remember these few packages were only to be added temporarily
(I can't really recall what was the actual objective behind it: probably
some ancient fontconfig issue that required an instant workaround). As
such, bitmap fonts is something we should have dropped already: this is a
deprecated format used by Xorg

[2016-04-21 05:07] Arthur2e5 commented on #137
Look for {cairo,freetype2,fontconfig}-infinality in AUR. These packages have switched to bohoomil's patches.

[2016-04-24 20:35] alexozer opened #154 "Can't update infinality-bundle-fonts"
I can't seem to update fonts from the infinality-bundle-fonts repo:
[code]

Here's my pacman.conf:
[code]

[2016-04-24 21:21] philthegitter opened #155 "infinality 2.6.3 is *almost* perfect..."
I've compiled it in Fedora-23.  Screencap:
http://imgur.com/X1tlq4I

It is about 95% of as good as it was two years ago under the Puppy variant upup-3.9.9.1.

One potential gotcha in Fedora-23 is, in /etc there are several config files which contain a "hintstyle=" setting (or "XftHintStyle"). All these need to be tracked down and changed to "hintfull".

I'm using a custom infinality-settings.sh wh

[2016-04-24 22:09] veluria commented on #106
*flag*

[2016-04-25 01:37] BubuXP commented on #155
The output of the command `xrdb -query | grep -i Xft` correspond to the Xft values in infinality-settings.sh ?

[2016-04-25 05:10] philthegitter commented on #155
[22:09 spot ~]$ xrdb -query | grep -i Xft
Xft.antialias:	1
Xft.autohint:	0
Xft.dpi:	96
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.lcdfilter:	lcddefault
Xft.rgba:	rgb
[22:09 spot ~]$

So the answer is yes.

[2016-04-25 08:35] mattia-b89 commented on #144
some days ago I tried to upgrade the official packages to your release and no problem I encountered; version of both packages were:
[code]
I get the same results, pacman does not encouter problems, upgrading from official -> to infinality patched, even if version differs but are the same:
[code]
now, could the issue be present only if versions from OFFICIAL repo and your repo differs?
or you have

[2016-04-25 08:47] bohoomil commented on #144
Oh my... I totally forgot about it... I've just altered the PKGBUILD so next time it should be OK for sure:

[code]

I'm really sorry for that...

[2016-04-25 16:09] Calavoow opened #156 "Update Breaks fonts"
Hi,

Just now I updated all my packages using `yaourt -Syu`, but now the font in my terminal is set to some medieval-looking monstocity. See the attached screenshot for an example.
![2016-04-25-17 57 20](https://cloud.githubusercontent.com/assets/1932776/14789967/63739334-0b0f-11e6-95e7-41587acc6147.png)

I run Arch with the i3 window manager and termite as my terminal. If I set `sudo fc-presets s

[2016-04-25 16:52] Calavoow commented on #156
I have solved my issue by manually setting the font configuration for Termite in `~/.config/termite/config`

[code]

[2016-05-02 02:42] liyuxi opened #157 "Please add Color Emoji Support in Cairo"
Arch Linux Users:I can't see Color Emoji in any program

[2016-05-02 02:43] liyuxi commented on #157
Could you add color emoji patch in ArchLinux release package

[2016-05-02 02:45] SolarAquarion opened #158 "please provide libfreetype"
https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/libbluray&id=b3a528f394d18a39aea4893a0f7098589b15b0d5

[2016-05-02 06:07] FadeMind commented on #158
@bohoomil :+1:  for this.

[2016-05-02 09:14] bohoomil commented on #158
Sorry, I don't really get it. Which package should actually provide what (the title says `libfreetype`, the link points to `libbluray`)? What's the rationale behind it?

[2016-05-02 09:17] bohoomil commented on #157
Would you mind sharing the patch, please?

[2016-05-02 10:28] jristz commented on #158
freetype2-infinality should provide, replace and chill for freetype2, that
because now libbluray depend explicity on freetype2.

[2016-05-02 13:17] CrisBRM commented on #157
[colored-emoji.patch.txt](https://github.com/bohoomil/fontconfig-ultimate/files/245125/colored-emoji.patch.txt) as per https://github.com/behdad/cairo/commit/8fcffa8cd2eebfedaca9d286d66e877d538848dd

[2016-05-02 14:14] bohoomil commented on #158
Oh, I see. Thanks a lot for clarification. I'll prepare a new release soon.

[2016-05-02 14:15] bohoomil commented on #157
Thanks a lot. An updated release will be available soon.

[2016-05-02 15:02] jristz commented on #158
Just to add more to this: freetype2-infinality provides freetype2 just fine, it's libbluray depending on libfreetype.so=6.64 which freetype2 provides, but freetype2-infinality doesn't (at least not according to it's PKGBUILD).

[2016-05-02 15:07] bohoomil commented on #158
The stock `freetype2` PKGBUILD contains `provides=('libfreetype.so')` which I guess is exactly what should be in ours as well.

[2016-05-04 11:44] #158 closed

[2016-05-08 01:18] yoshikin opened #159 "Best way to override default font for single language?"
I have installed infinality-bundle on Arch Linux and am using the free preset with Google Noto.

I would like to change the sans-serif font used for Arabic/Persian since the default "Google Noto Kufi Arabic" is a rather ugly font.

What's the best way to override this sans-serif font with another font for Arabic (ar) and Persian (fa) which won't break when I update infinality-bundle in the future?

[2016-05-08 01:37] bohoomil commented on #159
Oh well...

1. You can try and set a different one in `40-non-latin-misc.conf`.
2. You can try and create a custom `39-arabic-font.conf` to override `40-noto-arabic.conf`.
3. You can set a custom type face for a specific script in your Web browser's preferences (probably the most reliable approach).

[2016-05-13 18:45] d125q opened #160 "Add 'PragmataPro Mono' as a TT instructed font to `90-tt-fonts-misc.conf`"
Currently, [FSD](http://www.fsd.it/shop/fonts/pragmatapro/) offers PragmataPro and PragmataPro Mono.  The difference is that PragmataPro Mono is a 'simpler' font, e.g. it does not contain any ligatures.  However, it should still be considered as a TT instructed font and **not** autohinted.

I propose that it is added to `90-tt-fonts-misc.conf` along with PragmataPro and Essential PragmataPro.

[2016-05-13 23:54] bohoomil commented on #160
OK, I'll add the additional entry. Thanks for the feedback.

[2016-05-19 11:37] light2yellow opened #162 "Vertical monitor usage"
Should I change any rendering settings if I use my monitor vertically?

[2016-05-25 12:53] inglor commented on #137
Thanks

[2016-05-25 12:53] #137 closed

[2016-05-30 14:34] julroy67 opened #163 "Drop ttf-droid-ib from ibfonts-meta-extended-lt"
As noted in noto-fonts FAQ, droid font will no longer be updated and noto fonts are already a better replacement. How about removing this package from ibfonts-meta-extended-lt ?

[2016-05-30 15:07] fabiodellaria opened #164 "What fonts are required for the "combi" setting?"
What fonts are required for the "combi" setting?

[2016-06-02 02:36] bohoomil commented on #163
Thanks for the info. You're right, in this case the package should be removed from the meta. I'll prepare the update once I'm back on Linux.

[2016-06-02 02:46] bohoomil commented on #164
Basically, it is a `combi`nation of fonts of your choice. It's exactly you make it. For instance, I'm using various free and proprietary typefaces from Windows and Mac OS X which means that my `combi` configuration files are made up from scraps from the `free` and `MS` presets with a few custom additions.

[2016-06-20 07:48] d125q opened #168 "Make `ttf-noto-fonts-ib` provide `ttf-font`"
The [`noto-fonts` package in `extra`](https://www.archlinux.org/packages/extra/any/noto-fonts/) provides `ttf-font`, so I believe the infinality version should do the same.

[2016-06-22 00:38] ghost opened #170 "Infinality does not respect infinality-settings.sh configuration"
After many hours of tinkering and fiddling with Infinality on Arch Linux, I have officially given up.

No matter what I do or how I configure it, Infinality does not appear to be respecting the configuration I apply in my _/etc/profile.d/infinality-settings.sh_ file.

To provide a few examples demonstrating this, here is Open Sans Light with the following configurations:

[code]

![00-def-abz](htt

[2016-06-25 13:43] human-bean commented on #170
Have you tried moving infinality-settings.sh to /etc/X11/xinit/xinitrc.d/?

[2016-07-03 13:13] HighIO commented on #127
@bohoomil
ttf-iosevka-ibx is still outdated.
Could you add Inziu-Iosevka together?  https://be5invis.github.io/Iosevka/inziu.html THX

[2016-07-07 19:38] bohoomil commented on #127
Yes, will do as soon as I'm back on Linux. Thanks for the info!

[2016-07-07 19:39] madig commented on #120
Werner Lemberg is thinking about adding a mechanism to configure driver-level settings like the TrueType interpreter version through an environment variable. You may want to chime in on the discussion.

http://lists.nongnu.org/archive/html/freetype-devel/2016-07/msg00025.html

[2016-07-13 09:11] perfect7gentleman opened #171 "Freetype 2.7.0 is out. Will be there infinality patch ?"
Or is this the end of infinality?

[2016-07-13 09:49] Brottweiler commented on #171
Why would it be the end?

[2016-07-13 09:50] perfect7gentleman commented on #171
I have a bad feeling

[2016-07-14 11:29] vooze opened #172 "How to make consolas hintslight, when the system uses hintfull?"
Thank you for the great font rendering! I just finished compiling it for ubuntu 16.04.

I'm using hintfull as I think that looks best for most fonts, but consolas, since it works best with hinslight,  most fonts works just fine and infinality is tuned to choose hintslight/full for different fonts (when autohinting like browsers I think)

Is this even possible? I have selected hintfull in unity-twe

[2016-07-18 14:46] archfan commented on #171
Did they just merge some of the infinality patches upstream?

http://phoronix.com/scan.php?page=news_item&px=FreeType-2.7-Rendering

[2016-07-18 16:10] CamilleScholtz commented on #171
Copied a reddit comment about this of mine:

[2016-07-18 18:57] rumpelsepp commented on #171
2.7 is out; @bohoomil

[2016-07-19 06:44] perfect7gentleman commented on #171
@rumpelsepp, 2.7 is still developing.

[2016-07-19 06:49] rumpelsepp commented on #171
Oh, sry. I just read this http://phoronix.com/scan.php?page=news_item&px=FreeType-2.7-Rendering and I confused it with a release announcement.

On July 19, 2016 8:45:00 AM GMT+02:00, Perfect Gentleman notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-08 11:29] afettouhi commented on #171
Is this repo dead in th water? The packages are already behind what is in Arch Linux.

[2016-08-08 11:33] rumpelsepp commented on #171
I hope @bohoomil is doing well. He seems to be very quiet the last weeks...

[2016-08-11 01:50] ericsagnes opened #173 "43-wqy-zenhei-sharp.conf doesn't honor fontconfig guidelines"
[`43-wqy-zenhei-sharp.conf`](https://github.com/bohoomil/fontconfig-ultimate/blob/master/fontconfig_patches/fonts-settings/43-wqy-zenhei-sharp.conf) that is a generic->family mapping has a priority in the range of a family->generic configuration.

This has the effect to give the `<prefer>`ed fonts of `43-wqy-zenhei-sharp.conf` a higher priority than what is defined in `51-local.conf`.

[2016-08-12 03:31] archfan commented on #171
Let's hope for the best. Maybe he's just caught up with life.

[2016-08-12 07:13] rokups commented on #134
`infinality-bundle-fonts` contains both `t1-bh-ib` and `ttf-bh-ib`. The way i see it its a bug in group definition. Otherwise why define a package group that cant be installed.. This should be reopened.

[2016-08-15 12:46] #172 closed, assigned to nobody

[2016-08-18 18:17] archfan commented on #171
Just took the time to update the Infinality Bundle for FreeType 2.6.5 and Fontconfig 2.12.1.

It compiles fine and looks as brilliant as before. ;)

Please test: https://github.com/archfan/infinality_bundle

[2016-08-18 19:21] te-con-miel commented on #54
Hello,
Will be available packages for centos 7 soon?
Thanks.-

[2016-08-18 19:54] CamilleScholtz commented on #171
@archfan Just compiled it and I can confirm everything still works and looks the same (so far :))!

[2016-08-28 17:23] 13rac1 commented on #157
It's not as simple as this one line patch. You need the other commits in the https://github.com/behdad/cairo/commits/color-emoji branch, but you cannot use them as-is because they are only a work in progress causing major performance problems.

It actually says this in the patch against this repo: https://github.com/bohoomil/fontconfig-ultimate/commit/60937edb750c089d75060b243b65c42e9adf5d54

[cod

[2016-08-31 13:50] vdcow commented on #171
FYI: 2.6.5 just reverts changes made in 2.6.4. So 2.6.5 is almost the same as 2.6.3 (there was additional fix in build for Mac OS).

[2016-09-01 03:05] huiyiqun opened #174 "some Noto fonts are out of date"
[code]

The latest noto is 20160719 while the noto provided by ibx is still 20150929

[2016-09-06 09:06] julroy67 commented on #174
They are already up-to-date in Git, but since bohoomil is not active the packages were not updated yet.

[2016-09-06 13:55] tedaz opened #175 "Infinality breaks fonts in Opera on Arch"
On Arch Linux, Firefox and Chromium work great with the infinality. However, the Opera just shown 'Tofu'.

Remove the infinality packages, and only install the wqy-microhei font, the Opera works again.

Please see the snapshot of four browsers on one screen, 3 works great, but the Opera shown Tofu.
![arch x64-2016-08-29-16-00-30](https://cloud.githubusercontent.com/assets/8318095/18276206/8f260724

[2016-09-09 12:20] guiniol opened #177 "Should autohint be set to off by default?"
Hello all!

I'm certainly no font wizard, and I usually install fontconfig-ultimate, leave the defaults and roll with it.

However, for the last few days/weeks, the fonts used by pdf.js in firefox to display pdfs was awful: http://imgur.com/a/JFP8M.
Today, I finally got around to fixing it. After much, tinkering, what fixed it was setting `autohint` to `false` in `/etc/fonts/conf.avail.infinality/

[2016-09-09 13:09] CamilleScholtz commented on #171
This can be renamed to `Freetype 2.7.0 is out. Will be there infinality patch?` :)

[2016-09-09 13:47] archfan commented on #171
JUST HAVE FAITH.

On 09/09/2016 03:10 PM, Camille wrote:

[2016-09-09 14:20] archfan commented on #171
It's done.

https://github.com/archfan/infinality_bundle/blob/master/01_freetype2-iu/0002-infinality-2.7-2016.09.09.patch

I've added the subpixel hinting patch from Arch. Please test if changing the interpreter version in /etc/profile.d/freetype2.sh still works.

[2016-09-13 07:07] DerVerruckteFuchs opened #178 "Add more fonts to [infinality-bundle-fonts]"
There are some fonts that would be nice to have added to [infinality-bundle-fonts] repo.

[ttf-whiterabbit](https://aur.archlinux.org/packages/ttf-whiterabbit/)

[artwiz-fonts](https://www.archlinux.org/packages/extra/any/artwiz-fonts/)

[ohsnap](https://aur.archlinux.org/packages/ohsnap/)

[2016-09-15 10:56] volth opened #179 "Last update (with freetype 2.7) made font rendering weird"
Now it looks like this (Ubuntu Mono w/o anti-aliasing):

![screenshot_2016-09-15_10-55-15](https://cloud.githubusercontent.com/assets/508305/18547474/148dd894-7b33-11e6-84de-68dffc211304.png)

This is how it was with freetype 2.6.1 (I still have it a docker container and I am looking a way how to downgrade libfreetype on the laptop):

![screenshot_2016-09-15_11-03-55](https://cloud.githubuserconte

[2016-09-15 13:23] onodera-punpun commented on #179
There are no (official) infinality patches for 2.7 yet...

[2016-09-15 17:54] volth commented on #179
This, https://launchpad.net/~no1wantdthisname/+archive/ubuntu/ppa
Update from 13 Sep.
Not sure if it is the right bugtracker, they have it in readme.

[2016-09-17 08:02] ghost commented on #134
When asked to enter a selection, I inputted this `1-8 10-14 16-20 22-45` to fix all of the conflicts. Kind of annoying but it doesn't really matter I guess since they're basically the same thing.

The arch wiki says only to install the font that you need.

[2016-09-17 11:11] vooze commented on #179
volth: those packages are very different from these. I build them myself, to void using that PPA, since it seems to break alot.

[2016-09-18 03:49] Odysseus1962 opened #181 "Is your arch repo still being supported?"
I've been using your packages for some time and love how beautiful my fonts render with them. However it seems they are all now several versions behind the main Arch tree, and haven't been updated in quite some time. Are you still supporting your Arch repos? Should we begin to look elsewhere for infinality updates and support? TIA

[2016-09-19 05:29] jiaan opened #182 "Chinese characters distortion problem"
I installed the infinality bundle on my Arch Linux machine for better font rendering. The rendering for Latin characters is good, but some Chinese characters are distorted between font size 10-14, which happens to be most frequent range for reading.
I do not see the problem with regular fontconfig set, but as long as I switched to infinality(I'm using the "free" preset), problem occurs. Here are s

[2016-09-19 20:56] jiaan commented on #182
I found a workaround in a [deepin forum thread](https://bbs.deepin.org/forum.php?mod=viewthread&tid=27489).
set the following enviroment by saving them in `/etc/profile.d/infinality-settings.sh`:

`export INFINALITY_FT_STEM_ALIGNMENT_STRENGTH=0

export INFINALITY_FT_STEM_FITTING_STRENGTH=0

export INFINALITY_FT_STEM_SNAPPING_SLIDING_SCALE=0

export INFINALITY_FT_AUTOHINT_SNAP_STEM_HEIGHT=0

export

[2016-09-21 03:47] zhou13 commented on #177
Agree.  This breaks all users' firefox and hard to find the actual reason!

[2016-09-21 11:21] Kubuxu commented on #177
I was complaining long time ago, I just didn't found the original cause: https://github.com/mozilla/pdf.js/issues/7494

[2016-09-21 11:32] guiniol commented on #177
Reading that thread, the issue may have started when I removed the xf86 intel drivers in favor of the generic ones. There had been some problematic pdfs before that but most were fine, while lately every pdf was problematic, even those that displayed fine before.

[2016-09-22 17:42] Artoria2e5 commented on #182
Hey, this issue should still be kept open if it only happens in Infinality's FT. It suggests that some choices made in the defaults are somehow unwise.

Can you clarify which part of Infinality causes the problem, fontconfig or FT, too?

---

[2016-09-22 20:37] jiaan commented on #182
Reopened the issue.
I am not sure whether its a freetype or fontconfig problem, but it's definitely not the font problem.

[2016-10-23 21:17] SammysHP commented on #181
Link to #171.

[2016-10-31 11:15] SolarAquarion commented on #171
still the fonts still need to be updated

[2016-10-31 12:32] afettouhi commented on #171
Also the repo needs to be updated if we get the patch.

[2016-10-31 20:51] gothmog123 commented on #171
Hi doesn anyone have any info on what is going on with Bohoomil? Is the arch repo going to be updated?

[2016-11-02 00:20] lsyoyo commented on #182
Thanks @jiaan , I have the same issue, however, I only need the following to fix my setup.

[code]

[2016-11-03 12:39] slokhorst commented on #171
So is there any difference between FT 2.6.3+Infinality patch and FT 2.7.0 with [`truetype:interpreter-version=38` ("Infinality" mode)](https://wiki.archlinux.org/index.php/Font_configuration#Subpixel_rendering)?

(I don't know what settings were used in the previous comparisons...)

[2016-11-03 12:41] vdcow commented on #171
@slokhorst Yes, there are some differences because Infinality patch includes some additional improvements not included to vanila freetype.

[2016-11-04 12:20] mattia-b89 opened #183 "Only font substitution"
Sorry, maybe this is not the right place...

I switched back to *vanilla* freetype2 and _now_ it is not so bad
The only thing I miss from *infinality* are their font substitutions.
Is there any way to get it without all the *infinality* environment?

[2016-11-04 14:14] sl1pkn07 opened #184 "ttf-hack-ibx not replace/provide ttf-hack"
ttf-hack-ibx is co installable with ttf-hack. this means duplicate the fonts if both packages is installed

[code]

[2016-11-05 05:39] rumpelsepp commented on #183
That is the reason that prevents me from dropping bohoomils stuff. The font substitutions and the font repo is just so beautiful... I have no idea. Maybe some time in the future there comes the point where we must create a separete project, where we can maintain the font substitution config. I personally would be fine to switch back to freetype 2.7 upstream without infinality patches and keep the

[2016-11-05 05:43] rumpelsepp commented on #171
What are they? I am thinking of dropping infinatliy freetype in favor of upstream 2.7 and keep the fontconfig from here, as I mentioned here: https://github.com/bohoomil/fontconfig-ultimate/issues/183#issuecomment-258592438

[2016-11-05 07:50] vdcow commented on #171
@rumpelsepp

Unfortunately bohoomil removed original description for additional features from infinality-settings.sh but I am still tracking them in my package for Alt Linux

http://git.altlinux.org/people/cow/packages/?p=libfreetype-infinality.git;a=blob;f=infinality-settings.sh;h=6c02ec4084d08efc9b86d456bb0ef65b4a8d754c;hb=sisyphus

Also in this repo you can find actual patches for 2.7.

[2016-11-05 20:43] julroy67 commented on #171
Sadly @bohoomil doesn't respond to mails and hasn't been active on Github for over 5 months. So I'm thinking it's time to fork, because I really love the font substitution stuff.

If someone wants to fork, I'm ready to help get it up running.

[2016-11-05 20:50] gothmog123 commented on #171
Yeah just fontconfig-infinality works great all by itself. It's one package, I'm sure the gurus out there can keep it going.

[2016-11-10 13:57] SammysHP commented on #171
Here's another blog post: https://www.freetype.org/freetype2/docs/subpixel-hinting.html

[2016-11-10 14:42] CamilleScholtz commented on #171
I made some comparisons between 2.7 with patched infinality patches, and vanilla 2.7, and infinality _still_ looked better, especially kanji. so infinality is probably doing some more magic.

[2016-11-10 20:43] SammysHP commented on #171
Here are some comparisons between _freetype2-infinality-ultimate_ and _freetype2_ with different values of `FREETYPE_PROPERTIES`.

[freetype2-infinality-ultimate](https://cloud.githubusercontent.com/assets/922874/20193140/fb007fcc-a78c-11e6-81c5-5d6259abb338.png)
[freetype2 `FREETYPE_PROPERTIES="truetype:interpreter-version=40"` (the new stuff, default)](https://cloud.githubusercontent.com/assets/

[2016-11-11 11:34] afettouhi commented on #171
Someone talked about forking this? I am just interested in knowing if the repo is going to get updated to 2.7.0 or if I should go back to vanilla freetype2 in the official arch linux repoes.

[2016-11-11 11:56] rumpelsepp commented on #171
@afettouhi I would suggest to try vanilla freetype with the fontconfig from here. Maybe we could fork the fontconfig und create some AUR packages without the dependencies to this repo.

I am thinking of providing the relevant infrastructure to make at least another font pacman repo, that is being updated regularly. The config package could live in AUR IMO; the rest can IMO be vanilla freetype, sin

[2016-11-11 18:59] afettouhi commented on #171
@rumpelsepp I don't want start mixing vanilla stuff with old stuff from the repo. Fontconfig is also behind in the repo.Upstream is at 2.12.2 or something, but I am all for if someone is willing to put it all in AUR.

[2016-11-11 19:11] rumpelsepp commented on #171
Are there any major changes with the new font config? I personally like the font substitution rules from here and the really great fonts repo.

[2016-11-12 07:58] gothmog123 commented on #171
Is it possible to just run with the font substitution from infinality sustainably? Would one just copy the config files?

[2016-11-12 08:54] afettouhi commented on #171
@rumpelsepp Don't know if there major changers in the 2.12.x series I am just interested in getting this update with the Arch repos.

[2016-12-01 14:04] legendtang opened #185 "`icu` upgraded to v58 breaks everything."
![default](https://cloud.githubusercontent.com/assets/1352729/20796643/0a2e8b3e-b812-11e6-9e22-5b8376b2110b.png)
Please re-compile all the ultimate packages and update the software repos. Thanks!

[2016-12-05 03:05] legendtang commented on #185
Might be false alarm.

[2016-12-05 03:05] #185 closed, assigned to nobody

[2016-12-06 09:02] rumpelsepp commented on #171
For the record; I have migrated back to fully upstream packages. Namely:

* freetype 2.7
* fontconfig
* cairo
* several font packages from the arch repos (deja-vu, liberation, robotomono, droid, noto-*)

I left the default and I changed my i3wm to use the mate control center settings (I can configure the font substitutions for sans, serif, and monospace with a click now... I am lazy, I know). I am

[2016-12-09 21:07] akobel opened #186 "freetype2-infinality-ultimate for Arch breaks Lilypond"
Hi,

thanks for your work on the infinality bundle. With the freetype2-infinality-ultimate Arch package from your repository, I found out that the Lilypond music engraving application suffers from strange bounding box / bounding shape estimations, resulting in deteriorated layout. Both the community/lilypond, the aur packages, or self-compiled variants are affected; the precompiled self-contained

[2016-12-10 22:06] afettouhi commented on #171
Did the same thing, so I am also out of infinality for now.

[2016-12-10 23:20] Brottweiler commented on #171
I've also switched to regular freetype2... Things are different, but not that bad, so it's fine.

[2016-12-11 06:49] mattia-b89 commented on #171
As already stated previously, our effort should be concentrated on font
substitution, that's the porting of font config infinality .conf files
mainly.

powered by CM

On 11 Dec 2016 00:20, "Christoffer Tibell" <notifications@github.com> wrote:

[2016-12-22 06:06] zeroedout commented on #174
Hmmm, can anything be done besides harassing bohoomil?

[2017-01-02 20:44] jurf commented on #171
Yeah, I would be very interested in that, but I doubt I'll find the time in the upcoming weeks.

[2017-01-03 20:29] julroy67 commented on #171
If there is anyone interested I've started my own font collection. It uses the v40 interpreter of Freetype (but Infinality mode, aka v38, can be activated) and although I've started with bohoomil's config, I'm now using different fonts.
The repo is at https://github.com/julroy67/kagayaki

And there are some compiled packages at https://julroy67.freeboxos.fr:13476/share/h3Y-xMyPcgF6drIY/ (home serv

[2017-01-04 21:47] CamilleScholtz commented on #171
@julroy67 Awesome! Can you please give me a rundown on what the patches actually add over vanilla cairo/fontconfig/freetype if possible?

[2017-01-05 08:04] mattia-b89 commented on #171
@julroy67, Yes would be great if you keep a changelog

On 4 Jan 2017 22:47, "Camille" <notifications@github.com> wrote:

[2017-01-07 21:25] FadeMind opened #187 "please made upgrade for freetype2"
See https://bbs.archlinux.org/viewtopic.php?id=221644

[2017-01-07 21:37] CamilleScholtz commented on #187
There already is an issue about this: https://github.com/bohoomil/fontconfig-ultimate/issues/171

[2017-01-08 10:22] mattia-b89 commented on #171
Does anyone tried infinality from AUR?
Especially, do you note differences with fontconfig from AUR?

[2017-01-08 14:19] jurf commented on #183
`fontconfig` has it's own metric-compatible font substitutions, you should be fine with just them.

[2017-01-08 14:20] mattia-b89 commented on #183
I'm with the bohoomill one because I vastly prefer it over the vanilla...

On 8 January 2017 at 15:19, Juraj Fiala <notifications@github.com> wrote:

[2017-01-08 14:37] vimsucks commented on #171
@mattia-b89 AUR package [freetype2-infinality](https://aur.archlinux.org/packages/freetype2-infinality) did not work for me.
FT_Get_Var_Blend_Coordinates error still exists.

[2017-01-08 14:41] Brottweiler commented on #171
Probably want to use https://wiki.archlinux.org/index.php/Unofficial_user_repositories#infinality-bundle instead of AUR, maybe.

[2017-01-08 14:42] SammysHP commented on #171
The old version of freetype2-infinality won't work anymore because of the harfbuzz update. Either switch to the official version of freetype2 or port all infinality patches to the latest version of freetype2.

[2017-01-08 16:39] jurf commented on #171
I’ve made font meta packages to ease the migration from Infinality if anyone’s interested, you can find them on the AUR as[`fonts-meta-base`](https://aur.archlinux.org/packages/fonts-meta-base/) and [`fonts-meta-extended-lt`](https://aur.archlinux.org/packages/fonts-meta-extended-lt/).

[2017-01-08 16:49] mattia-b89 commented on #171
great start!

On 8 January 2017 at 17:39, Juraj Fiala <notifications@github.com> wrote:

[2017-01-08 16:55] userosos opened #188 "I can not install infinality"
Hello! I want install infinality use an manual from https://docs.google.com/document/d/1Q_zt0HAzm0UYMzxvACFuDGh5wtV9YuEo7AYrM4hyzvI/edit on debian stretch amd 64 multiarch. I download all packages from the link https://drive.google.com/drive/folders/0B7AdLMiZn4FzflZIWDFMWUxMR2F4WGQwQkRkcThsaFFxV2x1S0dGWjgzcEdlVjgtaGV5U2c in specials folder after it i do
sudo dpkg -i *.deb
I has the error:

And it

[2017-01-12 03:40] liaowang11 commented on #171
Tried vanilla freetype2 with infinality mode, fonts blurry. infinality-ultimate still makes fonts much better. Rollbacked, I think I'll just stop updating until infinality is ready.

[2017-01-12 09:08] mrksr commented on #171
I was successful in getting nice rendering again by following the guide in this gist by @cryzed: https://gist.github.com/cryzed/e002e7057435f02cc7894b9e748c5671

It also includes the packages created by @DoctorJellyface. Should be a good place to start.

[2017-01-13 06:36] winny- opened #190 "multilib/wine Wine cannot find the FreeType font library."
When I fired up my wine prefix today I saw `Wine cannot find the FreeType font library.` and no fonts in the wine applications. I then proceeded to try to build muiltilib/wine from ABS and I got this error: `configure: error: FreeType 64-bit development files not found. Fonts will not be built.`

I can verify the freetype2-infinality-ultimate package is installed correctly. `freetype-config --libs

[2017-01-21 11:14] RJVB commented on #171
I'm jumping into discussion just now and still a bit lost.

Am I correct that @archfan has been keeping a fork up-to-date for Freetype >= 2.7 and that the existing other patches and things from bohoomil's repo still work for building from source?
And that much of the ongoing discussion here is about getting things to work on Arch, so not really relevant for other systems? (I maintain a PPA for Ubu

[2017-01-21 12:52] CamilleScholtz commented on #171
@RJVB Yup, I also provide Pkgfile's for CRUX, and I'm like 90% sure @archfan makes his own PKGBUILDs for Arch as well.

I don't see how it isn't relevant to other systems, there just aren't any packages for them yet.

[2017-01-21 13:06] RJVB commented on #171
I think what I was trying to ask was something like "can I just grab archfan's" updated Freetype2 patches and use them with my own packaging stuff and Freetype 2.7.1? Or do I have to read through the whole thread because I'm *bound* to run into trouble if I don't?

Also, who actually maintains the patch set?

[2017-01-21 13:30] CamilleScholtz commented on #171
It used to be @bohoomil, but he has been inactive lately, now @archfan forked it.

There isn't really much of a difference between the two patchsets besides the version. But I still suggest that you read through the old infinality PKGBUILD, and the PKGBUILDs created by @archfan just to see the differences. Since PKGBUILDs are basically build instructions in BASH that shouldn't be too hard.

Also s

[2017-01-21 13:57] RJVB commented on #171
OK, so it's archfan's repo I'll have to follow, thanks. I've been doing my own packaging based on bohoomil's instructions for years now, so if the patchset changes only concern adapting to Freetype 2.7 I should be fine.

Freetype is written in C meaning there are no issues with runtimes, and it seems 2.7 ABI is backwards compatible with the 2.6 ABI. I grabbed the stock libfreetype2.so.6.13.0 file

[2017-01-22 08:45] revengel opened #191 "Site http://bohoomil.com no works"
Site http://bohoomil.com no works. Please check it

Error: bohoomil.com took too long to respond.

[2017-01-22 10:55] hoenirvili commented on #191
I'm here experiencing the same issue.

[2017-01-22 12:09] hoenirvili commented on #191
Also the repos are down.

[code]

[2017-01-22 23:31] DavidBuchanan314 commented on #191
If you haven't already, you might want to look at this: https://gist.github.com/cryzed/e002e7057435f02cc7894b9e748c5671

It seems like this is the end of Infinality.

[2017-02-09 01:30] andrewfader commented on #190
I have this probably as well. Apparently the latest freetype has changes and infinality hasn't been maintained. See: https://gist.github.com/cryzed/e002e7057435f02cc7894b9e748c5671

[2017-02-09 15:29] winny- commented on #190
Oops! I had followed that guide and hadn't update this issue. Closing.

[2017-02-09 15:29] #190 closed, assigned to nobody

[2017-02-10 00:33] ghost commented on #162
Closing due to the lack of response.

[2017-02-10 00:33] #162 closed

[2017-02-15 11:51] BubuXP commented on #188
This is my porting of Infinality for Debian.
As the Infinality project is almost dead, I don't maintain those packages anymore and I suggest people to stay with vanilla FreeType, that has improved much in the last versions.
If you really need those Infinality packages, you should download the source code and simply recompile with the updated libraries versions that are present in Debian at the mom

[2017-02-16 09:24] BubuXP commented on #188
For the information, I re-compiled the Infinality .deb packages, they should work now.
I also removed the cairo packages, as they were optional.

[2017-02-19 08:42] sgon00 commented on #191
why? what happened to the author?

[2017-02-19 13:27] Brottweiler commented on #191
@sgon00 They abandoned this project suddenly without a word.

[2017-02-28 16:45] flypenguin commented on #191
super sad, not very nice, but hey, you never know the reasons.
it was great while it lasted.

[2017-03-01 09:09] RJVB commented on #171
I have now built and tested Freetype 2.7.1 with archfan's latest patch, under XQuartz. Without changing anything to my environment I must say I don't see any difference with Freetype+Infinality 2.6.5, regardless of how I set the new FREETYPE_PROPERTIES env. variable. So far so good.

Allow me to ask: is there a package source somewhere that I can add to my KaOS test install? I'd rather keep that o

[2017-03-04 04:03] huypn12 commented on #54
@beniked
Hi, could you please check your repository? It suddenly became unavailable.
Thanks :)

[2017-03-12 12:26] grubersjoe commented on #191
I sadly expected this to happen, after reading above mentioned thread... Infinality really was a great project. Fortunately the font rendering libraries seem to have improved over the last years, so the experience is quite satisfactory with a bit of configuration of fontconfig nowadays.

[2017-03-13 07:53] hoenirvili commented on #191
`with a bit of configuration`
Yeah with a bit more...with infinality you added the rep, installed some 3-4 packages and you finished. This hole font mess should have a nice fix like the infinality used to be.

[2017-03-28 15:02] ubone commented on #191
the gist posted above is a bit long and misleading
on arch you don't need to symlink lcd and rgb filters - it is done by default

just reset infinality and replace it with the repo pkgs
the tricky part is font rules which bohoomil was kind enough to share

copy a few .conf files to your ~/.config/fontconfig/conf.aval/ dir and symlink the ones you want active to ~/.config/fontconfig/conf.d/ fonts s

[2017-04-03 22:16] gothmog123 commented on #183
I'm in the same shoes... what is solution guys? Do we have to keep using and unmaintained fontconfig? How do the other distros do it?

[2017-04-05 10:17] valmar commented on #54
Uhm, sorry everyone, I haven't been using OpenSUSE in a long time, and the Build System mantainers contacted me asking me to delete dormant projects, which I did. However, the versions of the library there were ancient and not updated. I hope not too many people were using them. Please look for a more up to date repository....

[2017-04-05 19:40] jkody opened #192 "Cannot compile cairo-infinality-ultimate 1.14.8-3"
Hi :)

I am trying to compile cairo-infinality-ultimate 1.14.8-3 but get the depn-s exception. I am using makepkg's [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=cairo-infinality-ultimate)
[code]
I checked the [dependence](https://aur.archlinux.org/packages/cairo-infinality-ultimate/) and [here](https://aur.archlinux.org/packages/fontconfig-infinality-ultimate-git/) in the list

[2017-04-10 03:24] ubone commented on #183
https://github.com/bohoomil/fontconfig-ultimate/issues/191#issuecomment-289799221

[2017-04-10 15:08] #163 closed

[2017-07-28 21:47] #179 closed

[2017-10-08 14:54] mattia-b89 commented on #183
I want to close the issue, since I've finally found a proper and satisfying solution:
are now months that I use vanilla software {fontconfig, freetyp2, cairo} coupled with two AUR packages fonts-meta-base (https://aur.archlinux.org/packages/fonts-meta-base/) and fonts-meta-extended-lt (https://aur.archlinux.org/packages/fonts-meta-extended-lt/); I can state that new software version coupled with B